
.doughnut-chart {
  &__chart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
  }

  &__caption {
    @include site-body();
    margin-top: 27px;
    margin-left: 30px;
  }

  &__legend {
    margin: 0;
  }

  &__item-wrapper {
    display: flex;
    align-items: center;
  }

  &__color {
    display: inline-flex;
    align-items: center;

    &-label {
      @include visually-hidden();
    }

    &::before {
      content: ' ';
      width: 10px;
      height: 10px;
      border-radius: 50%;
    }

    &_yellow::before {
      background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
    }

    &_green::before {
      background: $secondary-gradient;
    }

    &_purple::before {
      background: $primary-gradient;
    }

    &_black::before {
      background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
    }
  }

  &__definition {
    margin-left: 5px;
  }
}
