@import "../../../fonts/fonts";
@import "../../../variables/variables";
@import "../../../components/site-header/site-header";
@import "../../../components/site-footer/site-footer";
@import "../../../components/registration-block/registration-block";
@import "../../../components/log-in-block/log-in-block.scss";


body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  width: 0 !important
}

* {
  box-sizing: border-box;
}

.registration-page {

  &__main {

  }

  &__registration-section {
    min-height: 683px;
    display: flex;
    align-items: center;
    padding: 0 36.6% 0 37%;
    background-image: url("./img/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .registration-block {

    }

    .log-in-block {
      //margin: 0 36.6% 172px 37%;
    }
  }
}