@import "../../../fonts/fonts";
@import "../../../variables/variables";
@import "../../../components/form-element/form-element";

* {
  box-sizing: border-box;
}


.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 30px;
}

.content {
  display: grid;
  grid-template-columns: 320px 320px 320px;
  padding: 31px 141px;
  justify-content: space-between;
}

.content__column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: start;

  &:nth-child(1) {

  }

  &:nth-child(2) {
    .form-element {
      margin-bottom: 40px
    }
    padding-left: 27px;
  }


  .form-element {
    margin-bottom: 20px;

    &:nth-child(3) {
      margin-bottom: 24px;
    }
    &:nth-child(4) {
      margin-bottom: 37px;
    }
  }

  .date-dropdown__wrapper {
    width: 150px;
  }
  .filter-wrapper {
    margin-top: 20px;
    width: 267px;
  }

  .check-radio-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    width: 230px;
  }
}
