@import "../../../fonts/fonts";
@import "../../../variables/variables";
@import "../../../components/form-element/form-element";

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 30px;
}



.content {
  display: grid;
  grid-template-columns: 320px 320px 320px;
  justify-content: space-between;
  padding: 32px 140px;
}

.main-fields-section {
  .form-element {
    margin-bottom: 21px;
  }
  margin-bottom: 40px;
}

* {
  box-sizing: border-box;
}