//include ../../../components/form-element/form-element
include ../../../components/site-input/site-input
include ../../../components/site-dropdown/site-dropdown
include ../../../components/site-checkbox/site-checkbox
include ../../../components/site-radio/site-radio
include ../../../components/site-section/site-section
include ../../../components/rate-button/rate-button
include ../../../components/site-range-slider/site-range-slider

  //-TODO: изменить структуру
  //-TODO: обернуть компоненты в лейблы
-
  const firstList = [
    {label: "Text Field", note: "Default",  id: "email", text: "Email"},
    {label: "Text Field", note: "Hover / Focus", id: "awesome"},
    {label: "Dropdown", id: "guests", text:  "Сколько гостей",
        options: [
          {name: "Взрослые", value: "adults", declination: ["гость", "гостя", "гостей"]},
          {name: "Дети", value: "children", declination: ["гость", "гостя", "гостей"]},
          {name: "Младенцы", value: "babies", declination: ["гость", "гостя", "гостей"]}
        ],
        modifiers: {buttons: true} //counted-list: true
      },
    {label: "Masked text field",  id: "date", text: "ДД.ММ.ГГГГ", modifiers: {datemask: true}},
  ]

  const secondList = [
    {label: "Date Dropdown", id: "departure", text: "ДД.ММ.ГГГГ", shared: {id: "ui-page-calendar"}, modifiers: {calendar: {type: "range"}, buttons: true}},
    {label: "Date Dropdown", id: "arrival", text: "ДД.ММ.ГГГГ", shared: {for: "ui-page-calendar"}, modifiers: {calendar: {type: "range"}, buttons: true}},
    {label: "Filter Date Dropdown", id: "filter-dates", text: "ДД.ММ.ГГГГ - ДД.ММ.ГГГГ", modifiers: {calendar: {type: "range"}, buttons: true}},
    {label: "Subscription Text Field",  text: "Email", modifiers: {submit: true}}
  ]

  const checkboxList = [
    {label: "Checkbox Buttons", options: [
          {label: "Можно курить", id: "smoking"},
          {label: "Можно с питомцами", id: "animals", checked: true},
          {label: "Можно пригласить гостей (до 10 человек)", id: "invitation", checked: true}
        ]},
    {label: "Toggle",  options: [
          {label: "Получать спецпредложения", id: "offer", checked: true},
          {label: "Получать спецпредложения", id: "offer-2"},
        ],
        modifiers: {toggle: true}}
  ]

  const radioList = [
    {label: "Radio Buttons", options: [
          {label: "Мужчина", id: "man", name: "sex", checked: true},
          {label: "Женщина", id: "woman", name: "sex"},
        ]},
  ]

  const rangeSliderList = [
    {label: "Range Slider", min: 1, max: 10006}
  ]

doctype html
html(lang = "en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="keywords", content = "")
    meta(name="description", content=" ")
    link(rel = "stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons&amp;text=expand_more")
  body
    .wrapper
      .header
        img.logo(src = "../img/min-logo.svg")
      .content
        .content__column
          +site-input(firstList[0])
          +site-input(firstList[1])
          +site-dropdown(firstList[2])
          +site-input(firstList[3])
          .date-dropdown__wrapper
            +site-dropdown(secondList[0])
          .date-dropdown__wrapper
            +site-dropdown(secondList[1])
          .filter-wrapper
            +site-dropdown(secondList[2])
          .filter-wrapper
            +site-input(secondList[3])
        .content__column
          .check-radio-wrapper
            +site-checkbox-group(checkboxList[0])
            +site-radio-group(radioList[0])
          .toggle_wrapper
            +site-checkbox-group(checkboxList[1])

          +site-section({h3: "Like Button"})
            .like-buttons-wrapper
              include ../../../components/like-button/like-button
              include ../../../components/like-button/like-button
          +site-section({h3: "Rate Button"})
            .rate-buttons-wrapper
              +rate-button("sample-stars-1", ["ui-star-1", "ui-star-2", "ui-star-3", "ui-star-4", "ui-star-5"])
              +rate-button("sample-stars-2", ["ui-star-6", "ui-star-7", "ui-star-8", "ui-star-9", "ui-star-10"])
        .content__column
          .range-slider-wrapper
            +site-range-slider(rangeSliderList[0])

