include ../../../components/site-input/site-input
include ../../../components/site-dropdown/site-dropdown
include ../../../components/site-checkbox/site-checkbox
include ../../../components/site-radio/site-radio
include ../../../components/site-section/site-section
include ../../../components/rate-button/rate-button
include ../../../components/site-range-slider/site-range-slider
include ../../../components/site-button/site-button
include ../../../components/site-pagination/site-pagination
include ../../../components/site-ul/site-ul
include ../../../components/features-list/features-list
include ../../../components/site-testimonial/site-testimonial


-
  const firstList = [
    {label: "Text field", note: "Default",  id: "email", text: "Email"},
    {label: "Text field", note: "Hover / Focus", id: "awesome"},
    {label: "Dropdown", id: "guests", text:  "Сколько гостей",
        options: [
          {name: "Взрослые", value: "adults", declination: ["гость", "гостя", "гостей"]},
          {name: "Дети", value: "children", declination: ["гость", "гостя", "гостей"]},
          {name: "Младенцы", value: "babies", declination: ["гость", "гостя", "гостей"]}
        ],
        modifiers: {buttons: true} //counted-list: true
      },
    {label: "Masked text field",  id: "date", text: "ДД.ММ.ГГГГ", modifiers: {datemask: true}},
  ]

  const secondList = [
    {label: "Date dropdown", id: "departure", text: "ДД.ММ.ГГГГ", shared: {id: "ui-page-calendar"}, modifiers: {calendar: {type: "range"}, buttons: true}},
    {label: "Date dropdown", id: "arrival", text: "ДД.ММ.ГГГГ", shared: {for: "ui-page-calendar"}, modifiers: {calendar: {type: "range"}, buttons: true}},
    {label: "Filter date dropdown", id: "filter-dates", text: "ДД.ММ.ГГГГ - ДД.ММ.ГГГГ", modifiers: {calendar: {type: "range"}, buttons: true}},
    {label: "Subscription text field", id: "subscription", text: "Email", modifiers: {submit: true}},
    {label: "Dropdown", note: "Default", id: "dd-default", text: "Комнаты",
      options: [
        {name: "Спальни", value: "bedrooms", declination: ["спальня", "спальни", "спален"]},
        {name: "Кровать", value: "beds", declination: ["кровать", "кровати", "кроватей"]},
        {name: "Ванные комнаты", value: "bathrooms", declination: ["ванная комната", "ванные комнаты", "ванных комнат"]}
      ]},
    {label: "Dropdown", note: "Expanded", id: "dd-expanded", text: "Комнаты",
      options: [
        {name: "Спальни", value: "bedrooms", declination: ["спальня", "спальни", "спален"]},
        {name: "Кровать", value: "beds", declination: ["кровать", "кровати", "кроватей"]},
        {name: "Ванные комнаты", value: "bathrooms", declination: ["ванная комната", "ванные комнаты", "ванных комнат"]}
      ]},
    {label: "Dropdown", id: "dd-buttons-expanded", text: "Сколько гостей",
      options: [
        {name: "Взрослые", value: "adults", declination: ["гость", "гостя", "гостей"]},
        {name: "Дети", value: "children", declination: ["гость", "гостя", "гостей"]},
        {name: "Младенцы", value: "babies", declination: ["гость", "гостя", "гостей"]}
      ],
      modifiers: {buttons: true}
    },
    {label: "Dropdown", id: "dd-buttons-filled", text: "Сколько гостей",
      options: [
        {name: "Взрослые", value: "adults", declination: ["гость", "гостя", "гостей"]},
        {name: "Дети", value: "children", declination: ["гость", "гостя", "гостей"]},
        {name: "Младенцы", value: "babies", declination: ["гость", "гостя", "гостей"]}
      ],
      modifiers: {buttons: true}
    }
  ]

  const checkboxList = [
    {fieldset: "Checkbox buttons", options: [
          {label: "Можно курить", id: "smoking"},
          {label: "Можно с питомцами", id: "animals", checked: true},
          {label: "Можно пригласить гостей (до 10 человек)", id: "invitation", checked: true}
        ]},
    {fieldset: "Toggle",  options: [
          {label: "Получать спецпредложения", id: "offer", checked: true},
          {label: "Получать спецпредложения", id: "offer-2"},
        ],
        modifiers: {toggle: true}},
    {fieldset: "Expandable checkbox list", options: [
        {label: "Завтрак", id: "breakfast"},
        {label: "Письменный стол", id: "desk"},
        {label: "Стул для кормления", id: "feeding chair"},
        {label: "Кроватка", id: "crib"},
        {label: "Телевизор", id: "TV"},
        {label: "Шампунь", id: "shampoo"},
      ],
      modifiers: {expandable: true}},
    {fieldset: "Expandable checkbox list", options: [
        {label: "Завтрак", id: "breakfast-2"},
        {label: "Письменный стол", id: "desk-2", checked: true},
        {label: "Стул для кормления", id: "feeding chair-2", checked: true},
        {label: "Кроватка", id: "crib-2", checked: true},
        {label: "Телевизор", id: "TV-2"},
        {label: "Шампунь", id: "shampoo-2"},
      ],
      modifiers: {expandable: true}},
    {fieldset: "Rich checkbox buttons", options: [
        {label: "Широкий коридор", id: "wide-corridor", note: "Ширина коридоров в номере <br> не менее 91 см."},
        {label: "Помощник для инвалидов", id: "assistant", note: "На 1 этаже вас встретит специалист  и проводит до номера."},
      ],
      modifiers: {rich: true}
    },
  ]

  const radioList = [
    {fieldset: "Radio buttons", options: [
          {label: "Мужчина", id: "man", name: "sex", checked: true},
          {label: "Женщина", id: "woman", name: "sex"},
        ]},
  ]

  const rangeSliderList = [
    {label: "Range slider", id: "range", min: 1, max: 15485, startVal: 5000, endVal: 10000}
  ]

  const buttonsList = [
    {type: "button", text: "Click Me", modifiers: {primary: true}},
    {type: "button", text: "Click Me", modifiers: {primary: true}},
    {type: "button", text: "Click Me", modifiers: {rounded: true}},
    {type: "button", text: "Click Me", modifiers: {rounded: true}},
    {type: "button", text: "Click Me"},
    {type: "button", text: "Click Me"},
    {type: "button", text: "Перейти к оплате", modifiers: {primary: true, flexible: true, icon: "arrow"}}
  ]

  const testimonialsList = [{
    name: "Мурад Сарафанов", date: "5 дней назад",
    text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару  — никто не жаловался из соседей.",
    img: path + "user1.png"
  }]

doctype html
html(lang = "en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="keywords", content = "")
    meta(name="description", content=" ")
    link(rel = "stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons")
  body.form-elements-page
    .wrapper
      .header
        img.logo(src = "../img/min-logo.svg")
      .content
        .content__column
          +site-input(firstList[0])
          +site-input(firstList[1])
          +site-dropdown(firstList[2])
          +site-input(firstList[3])
          .date-dropdown-wrapper
            +site-dropdown(secondList[0])
            +site-dropdown(secondList[1])
          .filter-items-wrapper
            +site-dropdown(secondList[2])
          .filter-items-wrapper
            +site-input(secondList[3])
        .content__column
          .checkbox-wrapper
            +site-checkbox-group(checkboxList[0])
          +site-radio-group(radioList[0])
          +site-checkbox-group(checkboxList[1])
          +site-section({h3: "Like Button"})
            .like-buttons-wrapper
              include ../../../components/like-button/like-button
              include ../../../components/like-button/like-button
          +site-section({h3: "Rate Button"})
            .rate-buttons-wrapper
              +rate-button({name: "sample-stars-1", id: "ui-stars"})
              +rate-button({name: "sample-stars-2", id: "ui-rate"})
        .content__column
          .range-slider-wrapper
            +site-range-slider(rangeSliderList[0])
          +site-section({h3: "Buttons"})
            .site-buttons-wrapper
              each button in buttonsList
                +site-button(button)
          +site-section({h3: "Pagination"})
            +site-pagination()
        .content__column
          +site-dropdown(secondList[4])
          +site-dropdown(secondList[5])
        .content__column
          +site-dropdown(secondList[6])
        .content__column
          +site-dropdown(secondList[7])
        .content__column
          .expandable-checkbox-wrapper
            +site-checkbox-group(checkboxList[2])
            +site-checkbox-group(checkboxList[3])
        .content__column
          .rich-checkbox-wrapper
            +site-checkbox-group(checkboxList[4])
        .content__column
          +site-section({h3: "Bullet List"})
            .bullet-list-wrapper
              +site-ul(["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия — после 13:00, а выезд до 12:00"])
        .content__column
          +features-list(["comfort", "convenience"])
        .content__column
          +site-testimonial(testimonialsList[0])