@import "../../../fonts/fonts";
@import "../../../variables/variables";
@import "../../../components/site-input/site-input";
@import "../../../components/site-dropdown/site-dropdown";
@import "../../../components/site-calendar/site-calendar";
@import "../../../components/site-checkbox/site-checkbox";
@import "../../../components/site-radio/site-radio";
@import "../../../components/site-section/site-section";
@import "../../../components/like-button/like-button";
@import "../../../components/rate-button/rate-button";
@import "../../../components/site-range-slider/site-range-slider";
@import "../../../components/form-element/form-element";
@import "../../../components/site-pagination/site-pagination";
@import "../../../components/site-ul/site-ul";
@import "../../../components/features-list/features-list";
@import "../../../components/site-testimonial/site-testimonial";

html { box-sizing: border-box; }
* {box-sizing: inherit}


.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 30px;
}

.content {
  display: grid;
  grid-template-columns: 320px 373px 320px;
  row-gap: 100px;
  padding: 31px 141px;
  justify-content: space-between;
}

.content__column {

  .date-dropdown-wrapper {
    display: flex;
    justify-content: space-between;
     & .form-element {
       width: 150px;
     }
  }

  .filter-items-wrapper {
    width: 267px;
  }

  .checkbox-wrapper {
    width: 230px;
  }

  .toggle_wrapper {
    width: 265px;
  }

  .like-buttons-wrapper {
    width: 90px;
    display: flex;
    justify-content: space-between;
  }
  .rate-buttons-wrapper {
    width: 260px;
    display: flex;
    justify-content: space-between;
  }
  .range-slider-wrapper {
    width: 266px;
  }
  .bullet-list-wrapper {
    width: 260px;
  }

  .site-buttons-wrapper {
    .button {
      margin-right: 15px;
      margin-bottom: 30px;
      &:nth-child(4){
        margin-bottom: 28px;
        margin-right: 38px;
      }
      &:nth-child(5) {
        margin-right: 18px;
      }
    }
  }

  .expandable-checkbox-wrapper {
    width: 255px;
  }

  .rich-checkbox-wrapper {
    width: 260px;
  }
}

.content__column {

  display: grid;
  align-items: start;

  &:nth-child(1) {
    grid-template-rows: 84px 84px 87px 104px 105px 105px;
  }

  &:nth-child(2) {
    padding-left: 54px;

    .site-fieldset:nth-child(2) .site-fieldset__legend {
      margin-bottom: 14px;
    }

    grid-template-rows: 170px 92px 129px 91px;
  }

  &:nth-child(3) {
    grid-template-rows: 88px 309px
  }

  &:nth-child(4) {
    grid-template-rows: 84px 136px;
    justify-content: space-between;
  }

  &:nth-child(5) {
    padding-left: 54px;
  }

  &:nth-child(6) {
    display: grid;
  }

  &:nth-child(7) {
    .site-fieldset:first-child {
      margin-bottom: 44px;
    }
    min-height: 268px;
  }

  &:nth-child(8) {
    padding-left: 54px;
  }

  &:nth-child(11) {
    grid-column: 2 / 4;
    padding-top: 10px;
    padding-left: 54px;
  }
}