
mixin site-button(obj)

  -
    const buttonClassList = ["button", obj.classList];
    if (obj.modifiers) {
       if (obj.modifiers.rounded) buttonClassList.push("button_rounded");

       if (obj.modifiers.primary) buttonClassList.push("button_rounded button_primary")
       if (obj.modifiers.secondary) buttonClassList.push("button_rounded button_secondary")

       if (obj.modifiers.block) buttonClassList.push("button_block")
       if (obj.modifiers.flexible) buttonClassList.push("button_flexible")
       if (obj.modifiers.icon === "arrow") buttonClassList.push("button_arrow")
    }

  if obj.tag === "a"
    a(class = buttonClassList href = obj.href) !{obj.text}
  else if obj.tag === "button"
    button(class = buttonClassList type = obj.type ? obj.type : "button") !{obj.text}
