
.button {

  @include site-h3($color: $site-purple);
  cursor: pointer;
  border: none;
  background-color: white;
  padding: 0;
  text-align: center;
  position: relative;
  text-decoration: none;

  &:hover {
    color: $site-dark-50;
  }

  &_rounded {
    min-width: 100px;
    min-height: 44px;

    padding: 7px 17px 8px;
    box-sizing: border-box;
    letter-spacing: -0.15px;

    border: 2px solid transparent;
    border-radius: 22px;

    background-origin: border-box;
    background-image: linear-gradient(white, white), $primary-gradient;
    background-clip: padding-box, border-box;

    &:hover {
      color: $site-purple;
      background-image: linear-gradient(white, white), $primary-gradient-50;
    }
  }

  &_secondary {
    font-family: $ff-bold;
    color: white;
    background-image: $secondary-gradient;

    &:hover{
      background-image: $secondary-gradient;
    }
  }

  &_primary {
    font-family: $ff-bold;
    color: white;
    background-image: $primary-gradient;
    background-clip:  border-box;

    &:hover {
      background-image: $primary-gradient-50;
      color: white;
    }
  }

  &_block {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &_flexible {
    width: 100%;
  }


  &.arrow::after {

    content: "arrow_forward";
    font-family: "Material Icons";
    font-size: 24px;

    top: 13px;
    right: 9px;

    position: absolute;
    text-transform: none;


  }
}
