
mixin _rate-display(obj)
  -for (let i = 0; i < 5 - obj.stars; i++) {
    .star-rate__star
  -}

  -for (let i = 0; i < obj.stars; i++) {
    .star-rate__star.star-rate__star_filled
  -}

mixin _rate-send(obj)
  input(type = "radio" id = obj.id + "_star-5" class = "star-rate__radio" name = obj.name value = "5 stars" checked = obj.stars === 5)
  label(class = "star-rate__star" for = obj.id + "_star-5")
    span.star-rate__star-description 5 звезд
  input(type = "radio" id = obj.id + "_star-4" class = "star-rate__radio" name = obj.name value = "4 stars" checked = obj.stars === 4)
  label(class = "star-rate__star" for = obj.id + "_star-4")
    span.star-rate__star-description 4 звезды
  input(type = "radio" id = obj.id + "_star-3" class = "star-rate__radio" name = obj.name value = "3 stars" checked = obj.stars === 3)
  label(class = "star-rate__star" for = obj.id + "_star-3")
    span.star-rate__star-description 3 звезды
  input(type = "radio" id = obj.id + "_star-2" class = "star-rate__radio" name = obj.name value = "2 stars" checked = obj.stars === 2)
  label(class = "star-rate__star" for = obj.id + "_star-2")
    span.star-rate__star-description 2 звезды
  input(type = "radio" id = obj.id + "_star-1" class = "star-rate__radio" name = obj.name value = "1 star" checked = obj.stars === 1)
  label(class = "star-rate__star" for = obj.id + "_star-1")
    span.star-rate__star-description 1 звезду


mixin star-rate(obj)
  div(class = "star-rate" id = obj.id)
    if obj.type === "display"
      +_rate-display(obj)
    else if obj.type === "send"
      +_rate-send(obj)

