
mixin site-section(obj)

  -
    const sectionClassList = ["site-section", obj.classList]
    const headerClassList = ["site-section__heading"];
    if(obj.header === "hidden") headerClassList.push("site-section__heading_hidden")

  section(class = sectionClassList)
    block before
    .site-section__top
      -for(let key in obj) {
         if key === "h1"
          h1(class = [headerClassList, "site-section__heading_with-h1"]) !{obj.h1}
         if key === "h2"
          h2(class = [headerClassList, "site-section__heading_with-h2"]) !{obj.h2}
         if key === "h3"
          h3(class = [headerClassList, "site-section__heading_with-h3"]) !{obj.h3}
         if key === "note"
          .site-section__note !{obj.note}
      -}
    block