.site-section {

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__note {
    @include site-body($color: $site-dark-50, $lineH: 14px);
  }

  &__heading {
    margin: 0;

    &_h1 {
      @include site-h1();
    }

    &_h2 {
      @include site-h2();
    }

    &_h3 {
      @include site-h3();
      margin-bottom: 15px;
    }

    &_hidden {
      @include visually-hidden();
    }
  }
}