.site-section {

  &__top {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  &__heading {
    &_with-h1 {
      @include site-h1();
    }

    &_with-h2 {
      @include site-h2();
    }

    &_with-h3 {
      @include site-h3();
      margin-bottom: 15px;
    }

    &_hidden {
      @include visually-hidden();
    }

  }

  &__note {
    @include site-body($color: $site-dark-50, $lineH: 14px);
  }
}

