
.rooms-filter-menu {
  width: 266px;
  display: grid;
  align-items: start;
  grid-template-rows: 84px 95px 101px 160px 175px 94px;

  .form-element {
    &:first-child {
      position: relative;
      z-index: 3;
    }

    &:nth-child(2) {
      position: relative;
      z-index: 2;
    }
  }

  &__checkbox-wrapper {
    width: 256px;
  }
}


