include ../site-input/site-input
include ../site-dropdown/site-dropdown
include ../site-range-slider/site-range-slider
include ../site-checkbox/site-checkbox


mixin rooms-filter-menu()
  form.rooms-filter-menu
    +site-dropdown({label: "Даты пребывания в отеле", id: "filter-dates", text: "ДД.ММ.ГГГГ - ДД.ММ.ГГГГ", modifiers: {calendar: {type: "range"}, buttons: true}})
    +site-dropdown({
      label: "Гости", id: "filter-guests", text: "Сколько гостей", options: [
        {text: "Взрослые", name: "adults", declination: ["гость", "гостя", "гостей"]},
        {text: "Дети", name: "children", declination: ["гость", "гостя", "гостей"]},
        {text: "Младенцы", name: "babies", declination: ["младенец", "младенца", "младенцев"]},
      ],
      modifiers: {buttons: true}
    })
    +site-range-slider({label: "Диапазон цены", id: "filter-price", description: "Стоимость за сутки пребывания в номере", min: 1, max: 15485, startVal: 5000, endVal: 10000})
    +site-checkbox-group({fieldset: "Правила дома", options: [
        {label: "Можно курить", id: "filter-smoking"},
        {label: "Можно с питомцами", id: "filter-animals", checked: true},
        {label: "Можно пригласить гостей <br> (до 10 человек)", id: "invitation", checked: true}
      ]
    })
    +site-checkbox-group({fieldset: "Доступность", options: [
      {label: "Широкий коридор", id: "filter-wide-corridor", note: "Ширина коридоров в номере <br> не менее 91 см."},
      {label: "Помощник для инвалидов", id: "filter-assistant", note: "На 1 этаже вас встретит специалист  и проводит до номера."},
    ],
    modifiers: {rich: true}
    })
    +site-dropdown({
      label: "Удобства номера", id: "filter-amenities", text: "Комнаты",
      options: [
        {text: "Спальни", name: "bedrooms", declination: ["спальня", "спальни", "спален"]},
        {text: "Кровати", name: "beds", declination: ["кровать", "кровати", "кроватей"]},
        {text: "Ванные комнаты",name: "bathrooms", declination: ["ванная комната", "ванные комнаты", "ванных комнат"]}
      ]
    })
    .rooms-filter-menu__checkbox-wrapper
      +site-checkbox-group({
        fieldset: "Дополнительные удобства", options: [
          {label: "Завтрак", id: "filter-breakfast"},
          {label: "Письменный стол", id: "filter-desk", checked: true},
          {label: "Стул для кормления", id: "filter-feeding chair", checked: true},
          {label: "Кроватка", id: "filter-crib", checked: true},
          {label: "Телевизор", id: "filter-TV"},
          {label: "Шампунь", id: "filter-shampoo"},
        ],
        modifiers: {expandable: true}
      })
