.site-input {

  @include site-body();

  width: 100%;
  padding: 12px 14px;
  border: 1px solid $site-dark-25;
  border-radius: 4px;
  line-height: 18px;
  letter-spacing: -0.25px;

  &__wrapper {
    display: flex;
    width: 100%;
  }

  &_submit {
    border-right: none;
  }

  &__button {

    cursor: pointer;

    background-color: $site-purple;
    background-image: $primary-gradient;

    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: transparent;

    border: 1px solid $site-dark-25;
    border-left: none;
  }

  &::placeholder {
    color: $site-dark-25;
  }

  &:hover,
  &:focus {
    outline: 1px solid $site-dark-50;
  }
}