mixin site-input(obj)
  -var inputClassList = ["site-input"];

  -if (obj.modifiers)
    -if (obj.modifiers.datemask) inputClassList.push("site-input_date");
    -if (obj.modifiers.submit) inputClassList.push("site-input_submit");

  .site-input__wrapper
    input(type = "text" id = obj.id class = inputClassList placeholder = obj.text)
    if obj.modifiers && obj.modifiers.submit
      button.site-input__button.material-icons arrow_forward
  if obj.description
    span #{obj.description}