
.site-input {

  @include site-body();

  width: 100%;
  padding: 12px 14px;
  border: 1px solid $site-dark-25;
  border-radius: 4px;
  line-height: 18px;
  letter-spacing: -0.25px;

  &-wrapper {
    display: flex;
    width: 100%;
  }

  &_submit {
    border-radius: 4px 0 0 4px;
    border-right: none;
  }

  &__button {
    @include background-text-transparent();
    cursor: pointer;
    padding-right: 11px;

    background-color: $site-purple;
    background-image: $primary-gradient;

    border: 1px solid $site-dark-25;
    border-left: none;
    border-radius: 0 4px 4px 0;

    &:hover,
    &:focus-visible {
      outline: 1px solid $site-dark-50;
    }
  }

  &::placeholder {
    color: $site-dark-25;
  }

  &:hover,
  &:focus {
    outline: 1px solid $site-dark-50;
  }
}