
//mixin buttonMix()


.button {

  cursor: pointer;
  border: none;
  color: $site-purple;
  background-color: white;
  padding: 0;
  display: inline-block;
  text-align: center;

  font-family: Montserrat-Bold, sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;

  position: relative;

  &:hover {
    color: $site-dark-50;
  }

  &_rounded {
    min-width: 100px;
    min-height: 44px;
    color: $site-purple;
    padding: 12px 19px 13px 18px;
    letter-spacing: -0.15px;

   // position: relative;

    border: 2px double transparent;
    border-radius: 22px;
    background-origin: border-box;
  //  background-clip: padding-box;

    background-image: linear-gradient(white, white), $primary-gradient;
    background-clip: padding-box, border-box;

    &:hover {
      color: $site-purple;
      background-image: linear-gradient(white, white), $primary-gradient-50;
    }


    //&::before {
    //  position: absolute;
    //  content: "";
    //  top: -2px;
    //  right: -2px;
    //  bottom: -2px;
    //  left: -2px;
    //  z-index: -1;
    //  background-image: $primary-gradient;
    //  border-radius: 22px;
    //}
  }

  &_secondary {
    font-family: Montserrat-Bold, sans-serif;
    color: white;
    background-image: $secondary-gradient;

    &:hover{
      background-image: $secondary-gradient;
    }
  }

  &_primary {
    font-family: Montserrat-Bold, sans-serif;
    color: white;
    background-image: $primary-gradient;
    background-clip:  border-box;

    &:hover {
      background-image: $primary-gradient-50;
      color: white;
    }
  }

  &_flexible {
    width: 100%;
  }

  //TODO: Отрефакторить все остальное
  &.icon::after {

    font-family: "Material Icons";
    font-size: 24px;

    top: 13px;
    right: 9px;

    position: absolute;
    text-transform: none;
    content: "arrow_forward";

  }
}
