//-TODO: Добавить src
mixin button(obj)

  -const buttonClassList = ["button", obj.classList];

    -
      if (obj.type === "a" || obj.type === "button") {
        let rounded = false;

        if (obj.modifiers) {
           if (obj.modifiers.rounded) buttonClassList.push("button_rounded"); rounded = true;
           if (obj.modifiers.primary) buttonClassList.push("button_primary")
           if (obj.modifiers.flexible) buttonClassList.push("button_flexible")
           if (obj.modifiers.icon) buttonClassList.push("icon")
        }

    #{obj.type}(class = buttonClassList) #{obj.text}
  -}