@import "../site-field/site-field";
@import "../site-dropdown/site-dropdown";

.form-element {
  max-width: 320px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &_label {
    font-family: "Montserrat-Bold", sans-serif;
    color: $site-dark;
    text-transform: uppercase;
    font-size: 12px;
  }

  &_note {
    font-family: "Montserrat", sans-serif;
    color: $site-dark-50;
    text-transform: uppercase;
    font-size: 12px;
  }
}