include ../site-input/site-input
include ../site-dropdown/site-dropdown

mixin form-element(obj)
  -if(obj.item) {
    .form-element
      .form-element__top
        if obj.label
          label.form-element__label() #{obj.label}
        if obj.note
          span.form-element__note #{obj.note}
      case obj.item.type
        when "input"
          +site-input(obj.item)
        when "checkbox"
          +site-input(obj.item)
        when "radio"
          +site-input(obj.item)
        when "dropdown"
          +site-dropdown(obj.item)
  -}

