
.form-element {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__top {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }

  &__label,
  &__legend {
    @extend %site-h3;
  }

  &__legend {
    margin-bottom: 5px;
  }

  &__fieldset {
    padding: 0;
    margin: 0;
    border: none;
  }

  &__note {
    font-family: "Montserrat", sans-serif;
    color: $site-dark-50;
    text-transform: uppercase;
    font-size: 12px;
  }
}