
.form-element {
  width: 100%;

  display: flex;
  vertical-align: top; // избавление от отступа в 2 px
  flex-wrap: wrap;
  justify-content: space-between;

  &__top {
    width: 100%;
    margin-bottom: 5px;
    line-height: 15px;
    display: flex;
    justify-content: space-between;
    &_hidden {
      @include visually-hidden;
    }
  }

  &__label {
    @include site-h3();
  }

  &__note {
    font-family: $ff-normal;
    color: $site-dark-50;
    font-size: 12px;
    text-transform: uppercase;
  }

  &__description {
    font-family: $ff-normal;
    color: $site-dark-50;
    font-size: 12px;
  }
}

