include ../site-input/site-input
include ../site-dropdown/site-dropdown
include ../site-checkbox/site-checkbox
include ../site-radio/site-radio



mixin form-element(obj)

  -const classList = ["form-element"]

  -if (obj.item) {

    div(class = classList)
      .form-element__top
        if obj.label
          label.form-element__label(for = obj.item.id) #{obj.label}
        if obj.note
          span.form-element__note #{obj.note}
      case obj.item.type
        when "input"
          +site-input(obj.item)
        when "checkbox"
          +site-checkbox-group(obj.item)
        when "radio"
          +site-radio-group(obj.item)
        when "dropdown"
          +site-dropdown(obj.item)
  -}

