@import "../site-input/site-input";
@import "../site-dropdown/site-dropdown";
@import "../site-calendar/site-calendar";
@import "../site-checkbox/site-checkbox";
@import "../site-radio/site-radio";

.form-element {
  width: 100%;
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__top {
    width: 100%;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
  }

  &__label {
    font-family: "Montserrat-Bold", sans-serif;
    color: $site-dark;
    text-transform: uppercase;
    font-size: 12px;
    line-height: 15px;
  }

  &__note {
    font-family: "Montserrat", sans-serif;
    color: $site-dark-50;
    text-transform: uppercase;
    font-size: 12px;
  }
}