mixin form-element(obj)

  -
    const topClassList = ["form-element__top"];

    if(obj.modifiers && obj.modifiers.label === "hidden") {
      topClassList.push("form-element__top_hidden")
    }

  .form-element
    if(obj.label || obj.note)
      div(class = topClassList)
        if obj.label
          label(class = ["form-element__label", obj.label.classList], for = obj.id) !{obj.label}
        if obj.note
          span.form-element__note !{obj.note}
      block
    else
      block