include ../site-field/site-field
include ../site-dropdown/site-dropdown

mixin form-element(obj)
  -if(obj.item) {
    .form-element
      if obj.label
        label.form-element_label() #{obj.label}
      if obj.note
        span.form-element_note #{obj.note}
      case obj.item.type
        when "field"
          +site-field(obj.item)
        when "checkbox"
          +site-field(obj.item)
        when "radio"
          +site-field(obj.item)
        when "dropdown"
          +site-dropdown(obj.item)
  -}

