include ../../../components/site-header/site-header
include ../../../components/site-footer/site-footer
include ../../../components/registration-block/registration-block
include ../../../components/log-in-block/log-in-block

doctype html
html(lang = "en")
head
  meta(charset="utf-8")
  meta(name="viewport" content="initial-scale=1.0, width=device-width")
  meta(name="keywords", content = "")
  meta(name="description", content=" ")
  link(rel = "stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons")
  script(src="https://kit.fontawesome.com/a54cde8a02.js" crossorigin="anonymous")


body.registration-page
  +site-header()
  main.registration-page__main-section
    h1.registration-page__main-heading Страница регистрации аккаунта
    section.registration-page__registration-section
      +registration-block()
      +log-in-block()
  +site-footer()
