@import "../../../fonts/fonts";
@import "../../../variables/variables";
@import "../../../components/site-button/site-button";
@import "../../../components/site-logo/site-logo";
@import "../../../components/site-section/site-section";
@import "../../../components/form-element/form-element";
@import "../../../components/site-input/site-input";
@import "../../../components/site-radio/site-radio";
@import "../../../components/site-checkbox/site-checkbox";
@import "../../../components/site-fieldset/site-fieldset";
@import "../../../components/site-header/site-header";
@import "../../../components/site-footer/site-footer";
@import "../../../components/registration-block/registration-block";
@import "../../../components/log-in-block/log-in-block.scss";


body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  width: 0 !important
}

html { box-sizing: border-box; }
* {box-sizing: inherit}

.registration-page {

  &__main-heading {
    @include visually-hidden();
  }

  &__registration-section {
    min-height: 683px;
    display: flex;
    justify-content: center;
    background-image: url("./img/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    .registration-block {
      transform: translate(3px);
      margin: 18px 0;
    }

    .log-in-block {
      display: none;
      margin: 172px 0;
    }
  }
}