$ff-normal: 'Montserrat', sans-serif;
$ff-bold: 'Montserrat-Bold', sans-serif;
$site-purple: #BC9CFF;
$site-green: #6FCF97;
$site-dark: rgba(31, 32, 65, 1);
$site-dark-75: rgba(31, 32, 65, 0.75);
$site-dark-50: rgba(31, 32, 65, 0.5);
$site-dark-25: rgba(31, 32, 65, 0.25);
$site-dark-10: rgba(31, 32, 65, 0.1);
$site-dark-5: rgba(31, 32, 65, 0.05);
$primary-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$primary-gradient-25: linear-gradient(180deg, rgba(188, 156, 255, 0.25) 0%, rgba(139, 164, 249, 0.25) 100%);
$primary-gradient-50: linear-gradient(180deg, rgba(188, 156, 255, 0.5) 0%, rgba(139, 164, 249, 0.5) 100%);
$secondary-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

@mixin site-h1($color: $site-dark, $font:'Montserrat-Bold', $fontS: 24px, $lineH: 29px) {
  color: $color;
  font-size: $fontS;
  font-family: $font, sans-serif;
  line-height: $lineH;
  margin: 0;
  letter-spacing: -0.1px;
}

@mixin site-h2($color: $site-dark, $font:'Montserrat-Bold', $fontS: 19px, $lineH: 24px) {
  color: $color;
  font-size: $fontS;
  font-family: $font, sans-serif;
  line-height: $lineH;
  letter-spacing: 0.2px;
  margin: 0;
}

@mixin site-h3($color: $site-dark, $font:'Montserrat-Bold', $fontS: 12px, $lineH: 15px) {
  color: $color;
  font-size: $fontS;
  font-family: $font, sans-serif;
  line-height: $lineH;
  text-transform: uppercase;
  margin: 0;
}

@mixin site-body($color: $site-dark-75, $font:'Montserrat', $fontS: 14px, $lineH: 24px) {
  color: $color;
  font-family: $font, sans-serif;
  font-size: $fontS;
  line-height: $lineH;
  letter-spacing: -0.1px;
}

@mixin visually-hidden() {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
  position: absolute;
}

@mixin background-text-transparent() {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: transparent;
}