$site-purple: #bc9cff;
$site-green: #6FCF97;
$site-dark: rgba(31, 32, 65, 1);
$site-dark-75: rgba(31, 32, 65, 0.75);
$site-dark-50: rgba(31, 32, 65, 0.5);
$site-dark-25: rgba(31, 32, 65, 0.25);
$site-dark-5: rgba(31, 32, 65, 0.05);
