//TODO: Поменять все на миксины с параметрами по умолчанию

$site-purple: #BC9CFF;
$site-green: #6FCF97;
$site-dark: rgba(31, 32, 65, 1);
$site-dark-75: rgba(31, 32, 65, 0.75);
$site-dark-50: rgba(31, 32, 65, 0.5);
$site-dark-25: rgba(31, 32, 65, 0.25);
$site-dark-5: rgba(31, 32, 65, 0.05);
$primary-gradient: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
$primary-gradient-25: linear-gradient(180deg, rgba(188,156,255,0.25) 0%, rgba(139,164,249,0.25) 100%);
$primary-gradient-50: linear-gradient(180deg, rgba(188,156,255,0.5) 0%, rgba(139,164,249,0.5) 100%);
$secondary-gradient: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);

%site-h1 {
  color: $site-dark;
  font-size: 24px;
  font-family: "Montserrat-Bold", sans-serif;
  line-height: 29px;
  margin: 0; //TODO: убрать margin
}

%site-h2 {
  color: $site-dark;
  font-size: 19px;
  font-family: "Montserrat-Bold", sans-serif;
  line-height: 23px;
  margin: 0;
}

%site-h3 {
  color: $site-dark;
  font-size: 12px;
  font-family: "Montserrat-Bold", sans-serif;
  line-height: 15px;
  text-transform: uppercase;
  margin: 0;
}

@mixin site-body($color: $site-dark-75, $font:"Montserrat", $fontS: 14px, $lineH: 24px){
  color: $color;
  font-family: $font, sans-serif;
  font-size: $fontS;
  line-height: $lineH;
  letter-spacing: -0.1px;
}

@mixin visually-hidden() {
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
  position: absolute;
}

@mixin background-text-transparent() {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: transparent;
}