@import '../../../fonts/fonts';
@import '../../../variables/variables';
@import '../../../components/site-button/site-button';
@import '../../../components/site-logo/site-logo';
@import '../../../components/site-slider/site-slider';
@import '../../../components/like-button/like-button';
@import '../../../components/site-dropdown/site-dropdown';
@import '../../../components/site-section/site-section';
@import '../../../components/site-calendar/site-calendar';
@import '../../../components/form-element/form-element';
@import '../../../components/site-input/site-input';
@import '../../../components/features-list/features-list';
@import '../../../components/site-ul/site-ul.scss';
@import '../../../components/doughnut-chart/doughnut-chart.scss';
@import '../../../components/site-testimonial/site-testimonial.scss';
@import '../../../components/social-link/social-link';
@import '../../../components/site-header/site-header';
@import '../../../components/site-footer/site-footer';
@import '../../../components/booking-block/booking-block';


html {
  font-size: 14px;
  box-sizing: border-box;
}

* {
  box-sizing: inherit
}

.room-details {

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  @media(max-width: 768px) {
    overflow-x: hidden;
  }

  &__main-section {
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 72px;

    &-wrapper {
      border-bottom: 1px solid $site-dark-25;
      flex: 1 0 auto;

      @media(max-width: 768px) {
        padding-top: 70px;
      }
    }
  }

  &__main-heading {
    @include visually-hidden();
  }

  &__site-slider-wrapper {
    max-height: 350px;
    display: none;

    @media(max-width: 768px) {
      display: block;
    }
  }

  &__image-table {
    overflow: hidden;
    max-width: 1440px;
    max-height: 485px;
    display: flex;
    justify-content: center;

    @media(max-width: 768px) {
      display: none;
    }
  }

  &__image-column {
    &:nth-child(1) {
      width: 68.1%;
    }

    &:nth-child(2) {
      width: 31.9%;

      .room-details__image-container {
        height: 50%;
      }
    }
  }

  &__image-container {
    height: 100%;
  }

  &__room-photo {
    height: 100%;
    width: 100%;
  }

  &__main-info-wrapper {
    padding: 70px 9.72% 0;
    display: flex;

    @media(max-width: 1444px) {
      padding-right: 40px;
      padding-left: 70px;
    }

    @media(max-width: 1231px) {
      flex-wrap: wrap;
      justify-content: center;
      padding-left: 40px;
    }
    @media(max-width: 631px) {
      padding-right: 40px;
      padding-left: 40px;
    }
    @media(max-width: 480px) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-right: 68px;

    @media(max-width: 1444px) {
      margin-right: 50px;
    }

    @media(max-width: 1231px) {
      justify-content: space-evenly;
      margin-right: 0;
      max-width: 990px;
      padding-bottom: 70px;
    }

    @media(max-width: 768px) {
      justify-content: space-between;
    }
    @media(max-width: 631px) {
      justify-content: center;
    }
    @media(max-width: 480px) {
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  .site-section__top {
    @media(max-width: 631px) {
      justify-content: center;
      text-align: center;
    }
  }

  &__room-features {
    width: 280px;
    margin-right: 81px;

    .features-list {
      margin-top: 20px;
    }
    @media(max-width: 1444px) {
      margin-right: 72px;
    }
    @media(max-width: 768px) {
      margin-right: 30px;
      width: 255px;
    }
    @media(max-width: 631px) {
      margin-bottom: 70px;
    }
  }

  &__room-impressions {
    .doughnut-chart {
      margin-top: 21px;
    }
    @media(max-width: 768px) {
      max-width: 250px;
    }
    @media(max-width: 631px) {
      max-width: 316px;
      margin-bottom: 40px;
    }
    @media(max-width: 480px) {
      max-width: 251px;
    }
  }

  &__room-testimonials {
    padding-top: 34px;
    max-width: 712px;

    .site-testimonial {
      margin-top: 23px;

      &:nth-child(2) {
        margin-top: 19px;
      }
    }

    @media(max-width: 1231px) {
      padding: 70px 0 37px;
      max-width: 770px;
    }
    @media(max-width: 631px) {
      display: none;
    }
  }

  &__room-rules {
    max-width: 260px;
    padding-top: 33px;
    margin-right: 101px;

    .site-ul {
      margin-top: 17px;
    }

    .site-section__top {
      padding-left: 21px;
    }

    @media(max-width: 1444px) {
      margin-right: 72px;
    }

    @media(max-width: 768px) {
      margin-right: 15px;
    }
    @media(max-width: 631px) {
      max-width: 400px;
      margin-bottom: 40px;

      .site-section__top {
        padding-left: 0;
      }
    }
  }

  &__cancellation {
    max-width: 340px;
    padding-top: 34px;

    &-text {
      @include site-body();
      margin-top: 17px;
    }

    @media(max-width: 768px) {
      max-width: 260px;
    }
    @media(max-width: 631px) {
      max-width: 400px;
    }
  }

  &__booking-section {
    max-width: 380px;
  }

  .booking-block .site-dropdown__window_free {
    @media(min-width: 320px) and (max-width: 380px) {
      margin-left: calc((100vw - 40px - 260px) / 2);
    }
  }

}