@import "../../../fonts/fonts";
@import "../../../variables/variables";
@import "../../../components/site-header/site-header";
@import "../../../components/site-footer/site-footer";
@import "../../../components/features-list/features-list";
@import "../../../components/doughnut-chart/doughnut-chart.scss";
@import "../../../components/site-testimonial/site-testimonial.scss";
@import "../../../components/site-ul/site-ul.scss";
@import "../../../components/booking-block/booking-block";



body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  width: 0 !important
}

.room-details {

  &__main-section {
    display: flex;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    padding-bottom: 72px;
    &-wrapper {
      border-bottom: 1px solid $site-dark-25;
    }
  }

  &__main-heading {
    @include visually-hidden();
  }

  &__photos-section {
    overflow: hidden;
    width: 1440px;
    height: 485px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
  }

  &__photos-column {
    &:nth-child(3) {
      .room-details__photo-container {
        height: 50%;
      }
    }
  }

  &__room-photo {
    width: 100%;
  }

  &__main-info-wrapper {
    display: flex;
    max-width: 712px;
    flex-wrap: wrap;
    padding-left: 140px;
    margin-right: 68px;
  }

  &__room-features {
    width: 280px;
    margin-right: 81px;
    .features-list {
      margin-top: 20px;
    }
  }

  &__room-impressions {
    .doughnut-chart {
      margin-top: 21px;
    }
  }

  &__room-testimonials {
    padding-top: 34px;

    .site-testimonial {
      margin-top: 23px;
      &:nth-child(2) {
        margin-top: 19px;
      }
    }
  }

  &__room-rules {
    max-width: 260px;
    padding-top: 33px;
    margin-right: 101px;

    .site-ul {
      margin-top: 17px;
    }
    .site-section__top {
      padding-left: 21px;
    }
  }

  &__cancellation {
    max-width: 340px;
    padding-top: 34px;

    &-text {
      @include site-body();
      margin-top: 17px;
    }
  }

  &__booking-section {
    max-width: 380px;
    padding-right: 140px;
  }

}