
.log-in-block {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

  padding: 40px 29px 30px 29px;
  width: 380px;
  max-width: 380px;

  &__heading {
    @include site-h1();
    margin-bottom: 20px;

    @media (max-width: 380px) {
      text-align: center;
    }
  }

  &__form {
    .button {
      margin-top: 10px;
    }
  }

  .site-input {
    margin-bottom: 10px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }

  &__no-account-button {
    font-family: $ff-normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    margin-right: 20px;
  }
}

