@import "../site-input/site-input";
@import "../site-fieldset/site-fieldset";
@import "../site-button/site-button";

.log-in-block {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

  padding: 40px 29px 30px 29px;
  max-width: 380px;

  &__heading{
    @extend %site-h1;
    margin-bottom: 20px;
  }
  &__form {
    .button {
      margin-top: 10px;
    }
  }
  .site-input {
    margin-bottom: 10px;
  }

  &__footer {
    padding-top: 30px;
  }

  &__already-have{
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0px;
    margin-right: 55px;
  }
}