
.site-slider {

  position: relative;
  overflow: hidden;
  height: 100%;
  max-height: inherit;

  &:hover {
    .site-slider__button {
      opacity: 1;
    }
  }

  &__image {
    display: block;
    width: 100%;
    min-height: 100%;


    &-list {
      padding: 0;
      margin: 0;
      list-style: none;
      display: flex;
      transition: transform .5s;
      max-height: inherit;
    }

    &-item {
      width: 100%;
      flex-shrink: 0;
    }
  }

  &__bullets-block {
    position: absolute;
    width: 15.3%;
    padding-top: 2.8%;
    bottom: 9.2%;
    right: 5.2%;
  }

  &__bullets-wrapper {
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 0;
  }

  &__bullet {
    display: inline-block;
    width: 18.28%;
    height: 100%;
    border: 1px solid white;
    border-radius: 50%;
    box-shadow: 0px 5px 5px rgba(31, 32, 65, 0.3);

    &:not(:last-child) {
      margin-right: 9%;
    }
    &_active {
      background-color: white;
    }
  }

  &__button {
    position: absolute;
    top: 0;
    cursor: pointer;
    width: 15.6%;
    height: 100%;
    border: none;
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    padding: 0;
    outline: none;

    &:hover,
    &:focus {
      opacity: 1;
    }

    &:focus-visible .site-slider__arrow {
      outline: 2px solid white;
    }

    .site-slider__arrow {
      position: relative;
      width: 50%;
      padding-top: 50%;
      border-radius: 50%;
      display: flex;
      justify-content: center;

      &::before,
      &::after {
        position: absolute;
        content: " ";
        width: 37%;
        padding-top: 10%;
        background-color: white;
      }
      &_left {
        transform: translate(4%, 4%);

        &::before {
          top: 0;
          transform: translateY(350%) rotate(-45deg) ;
        }
        &::after {
          bottom: 0;
          transform: translateY(-350%) rotate(45deg) ;
        }
      }
      &_right {
        transform:  translateY(4%);
        &::before {
          top: 0;
          transform: translateY(350%) rotate(45deg) ;
        }
        &::after {
          bottom: 0;
          transform: translateY(-350%) rotate(-45deg) ;
        }
      }
    }

    &_left {
      left: 0;
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    }

    &_right {
      right: 0;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.5) 100%);
    }
  }
}