include ../../site-button/site-button

mixin site-dropdown__footer()
  .site-dropdown__footer(tabindex= "-1")
    +site-button({type: "button", text: "Очистить", classList: "site-dropdown__button-clear"})
    +site-button({type: "button", text: "Применить", classList: "site-dropdown__button-apply"})