
.site-calendar {

  padding: 0 19px;
  padding-bottom: 8px;
  max-width: 318px;
  border-radius: 4px;
  text-align: center;
  background-color: white;

  &__header {
    @include site-h2();

    padding: 20px 0;
    margin-bottom: 10px;

    display: flex;
    justify-content: space-between;
  }

  &__prev-button,
  &__next-button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: $site-purple;
  }

  &__days-section,
  &__date-section {
    font-family: $ff-bold;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }

  &__date-section {
    font-family: $ff-normal;
    flex-wrap: wrap;
  }

  &__date-cell {

    &.start-range {
      border-radius: 50% 0 0 50%;
    }

    &.focus-range {
      background: $site-dark-5;
    }

    &.range {
      background: $primary-gradient-25;
    }

    &.end-range {
      border-radius: 0 50% 50% 0;
    }

    &:hover{
      background: $primary-gradient-25;
    }
  }

  &__day,
  &__date {
    line-height: 15px;
    padding: 0;
    width: 40px;
    height: 40px;
  }

  &__day {
    color: $site-purple;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__date {
    border: none;
    background-color: transparent;
    color: $site-dark-50;
    cursor: pointer;
    border-radius: 50%;

    &.button_primary{
      color: white;
    }

    &.button_secondary{
      color: white;
    }

    &:disabled {
      cursor: default;
      color: $site-dark-25;
    }
  }

  &__optional-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}