
mixin site-calendar(classList)

  -
    const calendarDays = ["Пн", "Вт", "Ср", "Чт", "Пт", "Сб", "Вс"]
    const calendarDate = ["29", "30", "31", "1", "2", "3", "4", "5", "6", "7",
      "8", "9", "10", "11", "12", "13", "14",
      "15", "16", "17", "18", "19", "20", "21",
      "22", "23", "24", "25", "26", "27", "28",
      "29", "30", "31", "1"]

  div(class = classList)
    .site-calendar__header
      button(type = "button" class = "site-calendar__prev-button material-icons") arrow_back
      span.site-calendar__header-text Август 2019
      button(type = "button" class = "site-calendar__next-button material-icons") arrow_forward
    .site-calendar__days-section
      each day in calendarDays
        .site-calendar__day !{day}
    .site-calendar__date-section
      each date in calendarDate
        button(type = "button" class = "site-calendar__date") !{date}
      .site-calendar__optional-row
        -for(let i = 2; i < 9; i++)
          button(type = "button" class = "site-calendar__date") !{i}
