//TODO: вынести font-family в константу и добавить запасной шрифт и начертание
//TODO: общие шрифты для компонентов/элементов во всех файлах, если необходимо


.site-calendar {

  padding: 0 19px;
  margin-bottom: 8px;
  width: 318px;
  border-radius: 4px;
  text-align: center;

  &__header {
    padding: 20px 0;

    display: flex;
    justify-content: space-between;

    font-family: "Montserrat-Bold";
    font-size: 19px;
    color: $site-dark;

    line-height: 24px;
    margin-bottom: 10px;
  }

  &__prev-button,
  &__next-button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: $site-purple;
  }

  &__days-section,
  &__date-section {
    font-family: "Montserrat-Bold";
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__date-section {
    font-family: "Montserrat";
    flex-wrap: wrap;
  }

  &__date-cell {

    &.start-range {
      border-radius: 50% 0 0 50%;
    }

    &.focus-range {
      background: $site-dark-5;
    }

    &.range {
      background: $primary-gradient-25;
    }

    &.end-range {
      border-radius: 0 50% 50% 0;
    }

    &:hover{
      background: $primary-gradient-25;
    }
  }

  &__day,
  &__date {
    line-height: 15px;
    padding: 0;
    width: 40px;
    height: 40px;
  }

  &__day {
    color: $site-purple;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__date {
   // vertical-align: center;
    border: none;
    background-color: transparent;
    color: $site-dark-50;
    cursor: pointer;
    border-radius: 50%;

    &.button_primary{
      color: white;
    }

    &.button_secondary{
      color: white;
    }

    &:disabled {
      cursor: default;
      color: $site-dark-25;
    }
  }

  &__optional-row {
    display: flex;
  }


}