
.site-calendar {

  padding: 20px 19px;
  max-width: 280px;
  border-radius: 4px;
  text-align: center;
  background-color: white;
  box-sizing: content-box;

  &__header {
    @include site-h2();

    padding-bottom: 20px;
    margin-bottom: 8px;

    display: flex;
    justify-content: space-between;
  }

  &__prev-button,
  &__next-button {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: $site-purple;
  }

  &__days-section,
  &__date-section {
    font-family: $ff-bold;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
  }

  &__date-section {
    font-family: $ff-normal;
    flex-wrap: wrap;
  }

  &__date-cell {
    &.range {
      background: $primary-gradient-25;
    }
  }

  &__day,
  &__date {
    line-height: 15px;
    padding: 0;
    width: 40px;
    height: 40px;
  }

  &__day {
    color: $site-purple;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__date {
    border: none;
    background-color: transparent;
    color: $site-dark-50;
    cursor: pointer;

    &:hover {
      background: $primary-gradient-25;
    }

    &_today,
    &_active,
    &_end {
      background-color: white;
      border-radius: 50% 0 0 50%;
      font-family: $ff-bold;
      position: relative;
      z-index: 1;
      color: white;

      &::before {
        z-index: -2;
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-image: $primary-gradient;
      }
    }

    &_end {
      border-radius: 0 50% 50% 0;
    }

    &_today {
      border-radius: 0;
      &::before {
        background-image: $secondary-gradient;
      }
      &.site-calendar__date_active::before,
      &.site-calendar__date_end::before {
        background-image: $primary-gradient;
      }
    }

    &_hov-range {
      background-color: $site-dark-5;
      & + .site-calendar__date_active,
      & + .site-calendar__date_end {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &:not(.site-calendar__date_hov-range) + .site-calendar__date_hov-range {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    &_range {
      background: $primary-gradient-25;
    }

    &:disabled {
      cursor: default;
      color: $site-dark-25;
    }
  }

  &__optional-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}