include ../../../components/site-header/site-header
include ../../../components/site-footer/site-footer
include ../../../components/rooms-filter-menu/rooms-filter-menu
include ../../../components/room-card/room-card
include ../../../components/site-pagination/site-pagination
-
  const imgPath = "/pages/website/search-results/img/"
  const roomsList = [
    {imgList: [imgPath + "room888-1_s.png", imgPath + "room888-2_s.png", imgPath + "room888-3_s.png", imgPath + "test.png"], number: "888", price: 9990, currency: "₽", stars: 5, testimonialsList: {count: 145}, luxe: true},
    {imgList: [imgPath + "room840_s.png", imgPath + "test.png", imgPath + "test.png", imgPath + "test.png"], number: "840", price: 9900, currency: "₽", stars: 4, testimonialsList: {count: 65}},
    {imgList: [imgPath + "room980_s.png", imgPath + "test.png", imgPath + "test.png", imgPath + "test.png"], number: "980", price: 8500, currency: "₽", stars: 3, testimonialsList: {count: 35}, luxe: true},
    {imgList: [imgPath + "room856_s.png", imgPath + "test.png", imgPath + "test.png", imgPath + "test.png"], number: "856", price: 7300, currency: "₽", stars: 5, testimonialsList: {count: 19}},
    {imgList: [imgPath+ "room740_s.png", imgPath + "test.png", imgPath + "test.png", imgPath + "test.png"], number: "740",  price: 6000, currency: "₽", stars: 4, testimonialsList: {count: 44}},
    {imgList: [imgPath + "room982_s.png", imgPath + "test.png", imgPath + "test.png", imgPath + "test.png"], number: "982", price: 5800, currency: "₽", stars: 3, testimonialsList: {count: 56}},
    {imgList: [imgPath + "room678_s.png", imgPath + "test.png", imgPath + "test.png", imgPath + "test.png"], number: "678", price: 5500, currency: "₽", stars: 5, testimonialsList: {count: 45}},
    {imgList: [imgPath + "room450_s.png", imgPath + "test.png", imgPath + "test.png", imgPath + "test.png"], number: "450", price: 5300, currency: "₽", stars: 4, testimonialsList: {count: 39}},
    {imgList: [imgPath + "room350_s.png", imgPath + "test.png", imgPath + "test.png", imgPath + "test.png"], number: "350", price: 5000, currency: "₽", stars: 3, testimonialsList: {count: 77}},
    {imgList: [imgPath + "room666_s.png", imgPath + "test.png", imgPath + "test.png", imgPath + "test.png"], number: "666", price: 5000, currency: "₽", stars: 5, testimonialsList: {count: 25}},
    {imgList: [imgPath + "room444_s.png", imgPath + "test.png", imgPath + "test.png", imgPath + "test.png"], number: "444", price: 5000, currency: "₽", stars: 3, testimonialsList: {count: 15}},
    {imgList: [imgPath + "room352_s.png", imgPath + "test.png", imgPath + "test.png", imgPath + "test.png"], number: "352", price: 5000, currency: "₽", stars: 3, testimonialsList: {count: 55}}
  ]



doctype html
html(lang = "en")
head
  meta(charset="utf-8")
  meta(name="viewport" content="initial-scale=1.0, width=device-width")
  meta(name="keywords", content = "")
  meta(name="description", content=" ")
  link(rel = "stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons")
  script(src="https://kit.fontawesome.com/a54cde8a02.js" crossorigin="anonymous")

body.search-results
  +site-header()
  main.search-results__main-section
    h1.search-results__main-heading Результаты поиска
    aside.search-results__aside
      +rooms-filter-menu()
    +site-section({h1: "Номера, которые мы для вас подобрали", classList: "search-results__rooms-section"})
      ul.search-results__rooms-list
        each room, i in roomsList
          li.search-results__rooms-item
            +room-card("room" + room.number, roomsList[i])
      .search-results__pagination-container
        +site-pagination()
  +site-footer()
