
.site-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;

  &__group {
    margin: 0;
    margin-top: 11px;
    padding-left: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    margin-bottom: 12px;
    &:not(:last-child){
      margin-right: 15px;
    }
  }

  &__label{
    position: relative;
    display: inline-flex;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: $site-dark-50;
    padding-left: 30px;
    cursor: pointer;

    &::before{
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: -2px;
      content: " ";
      width: 20px;
      height:  20px;
      padding: 3px;
      border: 1px solid $site-dark-25;
      border-radius: 50%;
    }
  }

  &:checked {
    &+.site-radio__label{
      color: $site-dark-75;

      &::before {
        box-sizing: border-box;
        border: 1px solid $site-purple;
        background: $primary-gradient;
        background-clip: content-box;
      }

    }
  }

}