
.site-radio {

  display: inline-block;

  &:not(:last-child){
    margin-right: 15px;
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:focus-visible {
      &+.site-radio__label::before {
        outline: 1px solid $site-dark;
      }
    }

    &:checked {
      &+.site-radio__label{
        color: $site-dark-75;

        &::before {
          box-sizing: border-box;
          border: 1px solid $site-purple;
          background: $primary-gradient;
          background-clip: content-box;
        }
      }
    }
  }

  &__label{
    @include site-body($color: $site-dark-50);
    position: relative;
    display: inline-flex;
    align-items: flex-start;
    padding-left: 30px;
    cursor: pointer;

    &::before{
      box-sizing: border-box;
      position: absolute;
      left: 0;
      content: " ";
      width: 20px;
      height:  20px;
      padding: 3px;
      border: 1px solid $site-dark-25;
      border-radius: 50%;
    }
  }
}