.site-dropdown__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: $ff-normal;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  background-color: white;
  width: 100%;
  padding: 8px 8px 10px 15px;
  border: 1px solid $site-dark-25;
  border-radius: 4px;
  color: $site-dark-75;
  letter-spacing: -0.25px;
  cursor: pointer;
  position: relative;

  &-icon {
    align-self: baseline;
  }

  &_square {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &_invalid {

    &:before {
      position: absolute;
      z-index: 3;
      content: "report_problem";
      font-family: "Material Icons";
      font-size: 20px;
      top: calc(100% + 12px);
      opacity: 0;
      animation: error;
      animation-duration: 4s;
      color: red;
    }

    &:after {
      position: absolute;
      z-index: 2;
      content: "Заполните это поле";
      background-color: white;
      width: 120px;
      padding-left: 25px;
      border: 1px solid $site-dark-10;
      border-radius: 5px;
      box-shadow: 0px 10px 20px $site-dark-5;
      top: calc(100% + 5px);
      opacity: 0;
      animation: error;
      animation-duration: 4s;
    }
  }

  &:hover,
  &:focus {
    outline: 1px solid $site-dark-50;
  }
}

@keyframes error {
  0% {opacity: 1;}
  100% {opacity: 0;}
}