.site-dropdown__header {
  display: flex; //TODO: проблемы с flex и button
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  background-color: white;
  width: 100%;
  padding: 8px 8px 10px 15px;
  border: 1px solid $site-dark-25;
  border-radius: 4px;
  color: $site-dark-75;
  letter-spacing: -0.25px;
  cursor: pointer;

  &-icon {
    align-self: baseline;
  }

  &_square {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  &:hover,
  &:focus {
    outline: 1px solid $site-dark-50;
  }
}