include ../../mixins/site-menu
include ../site-section/site-section
include ../site-input/site-input
include ../social-link/social-link

mixin site-footer()

  -
    const mainPage = "../index/index.html"
    const footerMenus = [
      {
        classList: "site-footer__menu-list",
        itemClass: "site-footer__menu-item",
        linkClass: "site-footer__menu-link",
        items: [
          {text: "О нас", href: mainPage},
          {text: "Новости", href: mainPage},
          {text: "Служба поддержки", href: mainPage},
          {text: "Услуги", href: mainPage}
        ]
      },
      {
        classList: "site-footer__menu-list",
        itemClass: "site-footer__menu-item",
        linkClass: "site-footer__menu-link",
        items: [
          {text: "О сервисе", href: mainPage},
          {text: "Наша команда", href: mainPage},
          {text: "Вакансии", href: mainPage},
          {text: "Инвесторы", href: mainPage}
        ]
      },
      {
        classList: "site-footer__menu-list",
        itemClass: "site-footer__menu-item",
        linkClass: "site-footer__menu-link",
        items: [
          {text: "Соглашения", href: mainPage},
          {text: "Сообщества", href: mainPage},
          {text: "Связь с нами", href: mainPage}
        ]
      }
    ]

  footer.site-footer
    .site-footer__content
      .site-footer__info-block
        include ../site-logo/site-logo
        p.site-footer__info-text Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»
      .site-footer__links-section
        +site-section({h3: "Навигация", classList: "site-footer__menu-block"})
          +site-menu(footerMenus[0])
        +site-section({h3: "О нас", classList: "site-footer__menu-block"})
          +site-menu(footerMenus[1])
        +site-section({h3: "Служба поддержки", classList: "site-footer__menu-block"})
          +site-menu(footerMenus[2])
      +site-section({h3: "Подписка", classList: "site-footer__subscription-block"})
        p.site-footer__subscription-text Получайте специальные предложения и новости сервиса
        form.site-footer__subscription-form
          +site-input({label: "Подписка", id: "footer-subscription", name: "footerSubscription", type: "email", text: "Email", required: true, modifiers: {submit: true, label: "hidden"}})
    .site-footer__bottom
      p.site-footer__copyright Copyright © 2018 Toxin отель. Все права защищены.
      ul.site-footer__social-links
        li.site-footer__social-link
          +social-link("tw")
        li.site-footer__social-link
          +social-link("fb")
        li.site-footer__social-link
          +social-link("ig")




