.site-fieldset {

  width: 100%;
  padding: 0;
  margin: 0;
  border: none;

  &__legend {
    @extend %site-h3;
    margin-bottom: 5px;

    &_expand {

      width: 100%;

      display: flex;
      justify-content: space-between;

      cursor: pointer;

      &::after {
        content: "expand_more";
        font-family: "Material Icons";
        font-size: 24px;
        color: $site-dark-50;
        text-transform: none;
      }

      &.reverse::after {
        content: "expand_less";
        //transform: rotate(180deg);
      }
    }

    &_hidden {
      @include visually-hidden();
    }
  }

  &__area {

    &_shrunk {
      max-height: 0;
      margin: 0;
      overflow: hidden;
      transition: max-height 0.2s ease-out, margin 0.2s;
    }

    &_expanded {
      max-height: 5000px;
      transition: max-height 0.8s ease-in;
    }

    & .site-checkbox-list {
      margin-top: 12px;
    }
  }





}