mixin site-fieldset(legend, modifiers)
  -
     const legendClassList = ["site-fieldset__legend"];
     const areaClassList = ["site-fieldset__area"];
     let tabindex;

     if (modifiers) {
         if (modifiers.expandable) {
           tabindex = 0;

           if (modifiers.expandable === "expanded") {
             legendClassList.push("site-fieldset__legend_expand site-fieldset__legend_expand-reverse");
             areaClassList.push("site-fieldset__area_expanded");
           }
           else if (modifiers.expandable === "collapsed") {
             legendClassList.push("site-fieldset__legend_expand");
             areaClassList.push("site-fieldset__area_collapsed");
           }
         }
         if (modifiers.legend === "hidden") {
           legendClassList.push("site-fieldset__legend_hidden");
         }
     }

  fieldset.site-fieldset
    if(legend)
      legend(class = legendClassList tabindex = tabindex) !{legend}
    div(class = areaClassList)
      block