
.site-header {

  padding: 15px 9.72%;
  background-color: white;
  box-shadow: 0px 10px 20px $site-dark-5;
  font-family: $ff-normal;
  font-size: 14px;
  line-height: 17px;
  color: $site-dark-50;
  position: relative;
  z-index: 4;

  display: flex;
  align-items: center;

  @media(max-width: 1180px) {
    padding: 15px 40px;
  }

  @media(max-width: 768px)  {
    padding: 15px 15px;
    position: fixed;
    width: 100%;
  }


  &__site-navigation {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-right: 20px;
    align-items: center;
    overflow-wrap: anywhere;


    &_active {

      .site-header__site-nav-list {
        visibility: visible;
        right: 0;
      }

      & + .site-header__body-blocker {
        visibility: visible;
        opacity: 0.6;
      }
    }
  }

  &__body-blocker {
    visibility: hidden;
    width: 100vw;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.4s ease;
    top: 70px;
    left: 0;
  }

  &__log-in-wrapper {
    position: fixed;
    left: calc(50vw - 190px);
    z-index: 2;
    visibility: hidden;
    transition: transform 1s;

    &_active {
      visibility: visible;
      transform: translateY(calc(50vh - 50% + 70px));

      & + .site-header__body-blocker {
        visibility: visible;
        opacity: 0.6;
      }
    }
  }

  &__site-nav-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: 40px;
    background-color: white;

    @media(max-width: 768px) {
      @include site-h2();
      visibility: hidden;
      width: 55%;
      flex-direction: column;
      align-items: center;
      position: fixed;
      z-index: 5;
      right: -55%;
      top: 70px;
      height: calc(100vh - 70px);
      overflow-y: auto;
      transition: right 0.3s ease, visibility 0.3s ease;
    }


    .site-header__site-nav-list {
      position: absolute;
      padding-top: 10px;
      border: 1px solid $site-dark-10;
      border-top: none;
      box-shadow: 0px 10px 20px $site-dark-5;
      margin: 0;
      display: none;
      white-space: nowrap; // избавление от зависимости меню от ширины родителя

      &:hover {
        display: block;
      }

      @media(max-width: 768px) {
        position: static;
        height: auto;
        box-shadow: none;
        padding: 0;
        text-align: center;
        width: 100%;
      }


      .site-header__site-nav-item {
        margin: 0;

        &:hover {
          background-color: $site-dark-10;
        }
      }

      .site-header__nav-link {
        display: inline-flex;
        padding: 10px 20px;

        @media(max-width: 768px) {
          font-size: 16px;
          display: block;
          color: $site-dark-50;
          border-color: $site-dark-5;
          padding: 15px;
        }
      }
    }
  }

  &__site-nav-item {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px;

    &:not(:last-child) {
      margin-right: 20px;
    }

    &:focus-within .site-header__site-nav-list {
      display: block;
    }

    @media(max-width: 768px) {
      width: 100%;

      &:not(:last-child) {
        margin-right: 0;
      }
    }
  }

  &__nav-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: $site-dark-50;

    &:focus-visible {
      outline: 2px solid $site-dark-50;
    }

    &_expanded {
      &:hover + .site-header__site-nav-list {
        display: block;
      }

      &::after {
        font-family: 'Material Icons';
        font-size: 24px;
        content: 'expand_more'
      }
    }

    &_active {
      font-family: $ff-bold;
      color: $site-dark-75;
    }

    @media(max-width: 768px) {
      width: 100%;
      border-bottom: 1px solid $site-dark-10;
      padding: 20px;
      color: $site-dark-75;

      &_expanded:hover + .site-header__site-nav-list {
        display: none;
      }
    }
  }

  &__user-navigation {
    @media(max-width: 1010px) {
      display: none;
    }
  }

  &__user-nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    white-space: nowrap;

    &_logged {
      align-items: center;

      .site-header__user-nav-item {
        &:first-child {
          margin-left: 18px;
        }
      }

      &::before {
        content: ' ';
        width: 1px;
        height: 30px;
        align-self: stretch;
        background-color: $site-dark-10;
      }
    }
  }

  &__user-nav-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__mob-menu-button {

    display: none;
    border: none;
    cursor: pointer;

    &:focus-visible {
      outline: 2px solid $site-dark;
    }


    &_nav::before,
    &_nav::after {
      content: ' ';
      position: absolute;
      left: 0;
      width: 34px;
      height: 2px;
      background-color: $site-dark-50;
      transition: transform 0.3s;
    }

    &_nav {
      width: 34px;
      height: 34px;
      padding: 16px 0;
      background-color: $site-dark-50;
      background-clip: content-box;
      position: relative;
      margin-left: 20px;
      margin-right: 10px;
      transition: transform 2s;
      outline-offset: 3px;

      &::before {
        transform: translateY(-10px);
      }

      &::after {
        transform: translateY(10px);
      }

      &-close {
        height: 0;

        &::before {
          transform: rotate(-45deg);
        }

        &::after {
          transform: rotate(45deg);
        }
      }

      @media(max-width: 768px) {
        display: inline-block;
      }
    }

    &_login,
    &_user {
      position: relative;
      width: 34px;
      height: 34px;
      font-size: 34px;
      font-family: 'Material Icons';
      background-color: white;

      &::before {
        @include background-text-transparent();
        background-image: $primary-gradient;
        position: absolute;
        top: 0;
        right: 0;
      }

      @media(max-width: 1010px) {
        display: inline-block;
      }

    }

    &_login::before {
      content: 'login';
    }

    &_user::before {
      content: 'person';
    }
  }
}