@import "../site-button/site-button";
@import "../site-logo/site-logo";

.site-header {

  padding: 15px 9.72%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0px 10px 20px $site-dark-5;
  font-family: Montserrat, sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: $site-dark-50;

  &__navigation-wrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 70%;
  }

  &__site-navigation  {
    display: flex;
    justify-content: flex-end;
    width: 59.5%;
    align-items: center;
    margin-right: 2.5%;
  }

  &__site-nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__site-nav-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__nav-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: $site-dark-50;

    &_expanded:after {
      font-family: "Material Icons";
      font-size: 24px;
      content: "expand_more"
    }

    &_active {
      font-family: "Montserrat-Bold", sans-serif;
      color: $site-dark-75;
    }
  }

  &__user-nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    &_logged {

      align-items: center;

      & .site-header__user-nav-item {
        &:first-child {
          margin-left: 18px;
        }
      }

      &::before {
        content: " ";
        width: 1px;
        height: 30px;
        align-self: stretch;
        background-color: $site-dark-10;
      }
    }
  }

  &__user-nav-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}