
.site-header {

  padding: 15px 9.72%;
  background-color: white;
  box-shadow: 0px 10px 20px $site-dark-5;
  font-family: $ff-normal;
  font-size: 14px;
  line-height: 17px;
  color: $site-dark-50;
  position: relative;
  z-index: 4;

  display: flex;
  align-items: center;


  &__site-navigation  {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    margin-right: 20px;
    align-items: center;

    &_active {

      .site-header__site-nav-list {
        visibility: visible;
        right: 0;
      }
      & +.site-header__body-blocker {
        visibility: visible;
        opacity: 0.6;
      }
    }
  }

  &__body-blocker {
    visibility: hidden;
    width: 100vh;
    height: 100%;
    position: fixed;
    background-color: black;
    opacity: 0;
    transition: opacity 0.3s ease, visibility 0.4s ease;
    top: 70px;
    left: 0;
  }

  &__site-nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: white;

    .site-header__site-nav-list {
      position: absolute;
      padding-top: 10px;
      border: 1px solid $site-dark-10;
      border-top: none;
      box-shadow: 0px 10px 20px $site-dark-5;
      display: none;
      white-space: nowrap; // избавление от зависимости меню от ширины родителя

      &:hover {
        display: block;
      }
      .site-header__site-nav-item {
        margin-right: 0;
        &:hover {
          background-color: $site-dark-10;
        }
      }
      .site-header__nav-link {
        display: flex;
        padding: 10px 20px;
      }
    }
  }

  &__site-nav-item {
    position: relative;
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__nav-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: $site-dark-50;

    &:focus-visible {
      outline: 2px solid $site-dark-50;
    }

    &_expanded {
      &:hover + .site-header__site-nav-list {
        display: block;
      }
      &::after {
        font-family: "Material Icons";
        font-size: 24px;
        content: "expand_more"
      }
    }

    &_active {
      font-family: $ff-bold;
      color: $site-dark-75;
    }
  }

  &__user-nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;

    &_logged {
      align-items: center;

      .site-header__user-nav-item {
        &:first-child {
          margin-left: 18px;
        }
      }
      &::before {
        content: " ";
        width: 1px;
        height: 30px;
        align-self: stretch;
        background-color: $site-dark-10;
      }
    }
  }

  &__user-nav-item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__mob-menu-button {

    display: none;
    border: none;
    cursor: pointer;

    &:focus-visible {
      outline: 2px solid $site-dark;
    }


    &_nav::before,
    &_nav::after {
      content: " ";
      position: absolute;
      left: 0;
      width: 34px;
      height: 2px;
      background-color: $site-dark-50;
      transition: transform 0.3s;
    }

    &_nav {
      width: 34px;
      height: 34px;
      padding: 16px 0;
      background-color: $site-dark-50;
      background-clip: content-box;
      position: relative;
      margin-left: 20px;
      margin-right: 10px;
      transition: transform 2s;
      outline-offset: 3px;

      &::before {
        transform: translateY(-10px);
      }
      &::after {
        transform: translateY(10px);
      }

      &-close {
        height: 0;

        &::before {
          transform: rotate(-45deg);
        }
        &::after {
          transform: rotate(45deg);
        }
      }
    }

    &_user {
      @include background-text-transparent();
      background-image: $primary-gradient;
      font-size: 34px;
    }
  }
}


@media(max-width: 1180px) {
  .site-header {
    padding: 15px 40px;
  }
}

@media(max-width: 1010px) {
  .site-header {
    &__user-navigation {
      display: none;
    }
    &__mob-menu-button_user {
      display: block;
    }
  }
}

@media(max-width: 768px) {

  .site-header {
    padding: 15px 15px;
    position: fixed;
    width: 100%;

    &__mob-menu-button_nav {
      display: block;
    }

    &__site-nav-list {
      @include site-h2();
      visibility: hidden;
      width: 55%;
      flex-direction: column;
      align-items: center;
      position: fixed;
      z-index: 5;
      right: -55%;
      top: 70px;
      height: calc(100vh - 70px);
      overflow-y: auto;
      transition: right 0.3s ease, visibility 0.3s ease;

      .site-header__site-nav-list {
        position: static;
        height: auto;
        box-shadow: none;
        padding: 0;
        text-align: center;
        width: 100%;

        .site-header__nav-link {
          font-size: 16px;
          display: block;
          color: $site-dark-50;
          border-color: $site-dark-5;
          padding: 15px;
        }
      }
    }

    &__site-nav-item {
      width: 100%;
      &:not(:last-child) {
        margin-right: 0;
      }
    }

    &__nav-link {
      width: 100%;
      border-bottom: 1px solid $site-dark-10;
      padding: 20px;
      color: $site-dark-75;

      &_expanded:hover + .site-header__site-nav-list {
        display: none;
      }
    }
  }
}