include ../../mixins/site-menu
include ../site-button/site-button

mixin site-header(obj = {})
  -
    const pages = {
      formElements: "../form-elements/form-elements.html",
      cards: "../cards/cards.html",
      structuralBlocks: "../structural-blocks/structural-blocks.html",
      main: "../index/index.html",
      searchResults: "../search-results/search-results.html",
      roomDetails: "../room-details/room-details.html",
      signIn: "../sign-in-page/sign-in-page.html",
      registration: "../registration-page/registration-page.html"
    }

    const navMenu = {
      classList: "site-header__site-nav-list",
      itemClass: "site-header__site-nav-item",
      linkClass: "site-header__nav-link",
      items: [
        {text: "О нас", active: obj.active === "О нас", href: pages.main},
        {text: "Услуги", active: obj.active === "Услуги", href: pages.main,
        dropdown:[
            {text: "form-elements", href: pages.formElements},
            {text: "cards", href: pages.cards},
            {text: "structural-blocks", href: pages.structuralBlocks},
            {text: "main", href: pages.main},
            {text: "search-results", href: pages.searchResults},
            {text: "room-details", href: pages.roomDetails},
            {text: "sign-in-page", href: pages.signIn},
            {text: "registration-page", href: pages.registration},
          ]
        },
        {text: "Вакансии", active: obj.active === "Вакансии", href: pages.main},
        {text: "Новости", active: obj.active === "Новости", href: pages.main},
        {text: "Соглашения", active: obj.active === "Соглашения", href: pages.main,
          dropdown: [
            {text: "Соглашение 1", href: pages.main},
            {text: "Соглашение 2", href: pages.main},
            {text: "Соглашение 3", href: pages.main}
          ]
        }
      ]
    };

    const userMenu = {
      classList: ["site-header__user-nav-list", "site-header__user-nav-list_logged"],
      itemClass: "site-header__user-nav-item",
      linkClass: "site-header__nav-link",
      items: [
        {text: obj.user}
      ]
    };

  header.site-header
    include ../site-logo/site-logo
    .site-header__navigation-wrapper
      nav.site-header__site-navigation
        +site-menu(navMenu)
      .site-header__user-navigation
        if(obj.user)
          +site-menu(userMenu)
        else
          ul.site-header__user-nav-list
            li.site-header__user-nav-item
              +site-button({tag: "a", href: pages.signIn, modifiers: {rounded: true}, text: "Войти"})
            li.site-header__user-nav-item
              +site-button({tag: "a", href: pages.registration, modifiers: {primary: true}, text: "Зарегистрироваться"})

