include ../../mixins/menu-items
include ../site-button/site-button

mixin site-header(user)
  -
    const mainNavItems = [{text: "О нас", active: true}, {text: "Услуги",expand: true}, {text: "Вакансии"}, {text: "Новости"}, {text: "Соглашения", expand: true}]

    const usermenuClassList = ["site-header__user-nav-list"];
    if(user) usermenuClassList.push("site-header__user-nav-list_logged");

  header.site-header
    include ../site-logo/site-logo
    .site-header__navigation-wrapper
      nav.site-header__site-navigation
        ul.site-header__site-nav-list
          +menu-items(mainNavItems, "site-header__site-nav-item", "site-header__nav-link")
      .site-header__user-navigation
        ul(class = usermenuClassList)
          if(user)
            +menu-items([{text: user}], "site-header__user-nav-item", "site-header__nav-link")
          else
            li.site-header__user-nav-item
              +site-button({type: "a", modifiers: {rounded: true}, text: "Войти"})
            li.site-header__user-nav-item
              +site-button({type: "a", modifiers: {primary: true}, text: "Зарегистрироваться"})

