include ../../mixins/menu-items
include ../site-button/site-button

  //TODO: = Unbuffered code
  //TODO: Заменить интерполяцию на # там, куда приходят данные из-вне
-const mainNavItems = [{text: "О нас", active: true}, {text: "Услуги", expand: true}, {text: "Вакансии"}, {text: "Новости"}, {text: "Соглашения", expand: true}]

mixin site-header(user)

  -const usermenuClassList = ["user-navigation__list"];
  -if(user) usermenuClassList.push("user-navigation__list_logged");

  header.main-header
    include ../site-logo/site-logo
    .navigation-wrapper
      nav.site-navigation
        ul.site-navigation__list
          +menu-items(mainNavItems, "site-navigation__item", "site-navigation__link")
      .user-navigation
        ul(class = usermenuClassList)
          if(user)
            -usermenuClassList.push("user-navigation__list_logged");
            li.user-navigation__item #{user}
          else
            li.user-navigation__item
              +site-button({type: "a", modifiers: {rounded: true}, text: "Войти"})
            li.user-navigation__item
              +site-button({type: "a", modifiers: {primary: true, rounded: true}, text: "Зарегистрироваться"})

