@import "../../../fonts/fonts";
@import "../../../variables/variables";
@import "../../../components/site-header/site-header";
@import "../../../components/site-footer/site-footer.scss";
@import "../../../components/search-block/search-block.scss";

//Временно для ПП
body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  width: 0 !important
}

* {
  box-sizing: border-box;
}

.search-offer {
  &__room-selection {
    padding: 70px 9.72% 0;
    min-height: 830px;
    background-image: url("./img/background.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media (max-width: 768px) {
  .search-block {
    margin: 0 auto;
  }
}
