@import "../../../fonts/fonts";
@import "../../../variables/variables";
@import "../../../components/site-button/site-button";
@import "../../../components/site-logo/site-logo";
@import "../../../components/site-section/site-section";
@import "../../../components/form-element/form-element";
@import "../../../components/site-input/site-input";
@import "../../../components/site-dropdown/site-dropdown";
@import "../../../components/site-calendar/site-calendar";
@import "../../../components/social-link/social-link";
@import "../../../components/site-header/site-header";
@import "../../../components/site-footer/site-footer.scss";
@import "../../../components/search-block/search-block.scss";


html { box-sizing: border-box; }
* {box-sizing: inherit}

.search-offer {

  &__main-heading {
    @include visually-hidden();
  }

  &__search-section {
    @include site-body();
    position: relative;
    padding: 69px 9.72% 0;
    min-height: 830px;
    background-image: url("./img/background.png");
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
  }

  &__slogan {
    position: absolute;
    max-width: 300px;
    margin: 0;
    text-align: right;
    right: 134px;
    bottom: 20px;
  }
}

@media (max-width: 768px) {
  .search-offer {

    &__search-section {
      padding: 140px 0;
    }
    .search-block {
      margin: 0 auto;
    }

    &__slogan {
      text-align: center;
      right: auto;
      left: 50%;
      transform: translateX(-50%);
    }

  }
}

@media(min-width: 320px) and (max-width: 380px) {
  .search-offer {
    .search-block .site-dropdown__window_free {
      margin-left: calc((100vw - 40px - 260px) / 2);
    }
  }
}