@import "../../../variables/variables";
@import "../../../normalize";
@import "../../../fonts/fonts";
@import "../../../components/site-header/site-header";
@import "../../../components/site-logo/site-logo";
@import "../../../components/site-button/site-button";



* {
  box-sizing: border-box;
}

.site-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

