
mixin features-list(items)

  -
    const dict = {
      comfort: ["Комфорт", "Шумопоглощающие стены"],
      convenience: ["Удобство", "Окно в каждой из спален"],
      cosiness : ["Уют", "Номер оснащен камином"]
    }

  dl.features-list
    each item in items
      div(class = ["features-list__wrapper", "features-list__wrapper_" + item])
        dt.features-list__termin #{dict[item][0]}
        dd.features-list__description #{dict[item][1]}
