
mixin features-list(items)

  -
    const dict = {
      comfort: {
        title: "Комфорт",
        description: "Шумопоглощающие стены",
        modifier: "with-smile-icon"
      },

      convenience: {
        title: "Удобство",
        description: "Окно в каждой из спален",
        modifier: "with-city-icon"
      },

      cosiness: {
        title: "Уют",
        description: "Номер оснащен камином",
        modifier: "with-fire-icon"
      }
    }

  dl.features-list
    each item in items
      div(class = ["features-list__wrapper", "features-list__wrapper_" + dict[item].modifier])
        dt.features-list__termin #{dict[item].title}
        dd.features-list__description #{dict[item].description}
