.features-list {

  @include site-body();
  margin: 0;
  overflow-wrap: anywhere;

  &__wrapper {
    position: relative;

    &::before {
      @include background-text-transparent();
      font-family: 'Material Icons';
      font-size: 48px;
      line-height: 48px;
      margin-right: 10px;
      float: left;

      background-image: $primary-gradient;
    }

    &:not(:first-child) {
      border-top: 1px solid $site-dark-10;
      padding-top: 20px;
    }

    &:not(:last-child) {
      padding-bottom: 20px;
    }

    &_comfort::before {
      content: 'insert_emoticon';
    }

    &_convenience::before {
      content: 'location_city';
    }

    &_cosiness::before {
      content: 'whatshot';
    }

  }

  &__termin {
    font-family: $ff-bold;
  }

  &__description {
    margin: 0;

    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}
