include ../site-dropdown/site-dropdown
include ../site-button/site-button

mixin search-block()
  article.search-block
    h2.search-block__heading-hidden Поиск номера по датам заезда и выезда
    .search-block__heading Найдём номера под ваши пожелания
    .search-block__body
      form.search-block__form
        .search-block__date-dropdown-wrapper
          +site-dropdown({
            label: "Прибытие",
            id: "search-departure",
            text: "ДД.ММ.ГГГГ",
            shared: {id: "search-calendar"},
            modifiers: {calendar: {type: "range"}, buttons: true}
          })
        .search-block__date-dropdown-wrapper
          +site-dropdown({
            label: "Выезд",
            id: "search-arrival",
            text: "ДД.ММ.ГГГГ",
            shared: {for: "search-calendar"},
            modifiers: {calendar: {type: "range"}, buttons: true}
          })
        .search-block__guests-dropdown-wrapper
          +site-dropdown({label: "Гости", id: "search-guest-dropdown", text: "Сколько гостей",
            options: [
              {text: "Взрослые", name: "adults", declination: ["гость", "гостя", "гостей"]},
              {text: "Дети", name: "children", declination: ["гость", "гостя", "гостей"]},
              {text: "Младенцы", name: "babies", declination: ["гость", "гостя", "гостей"]}
            ],
            modifiers: {buttons: true}})
        +site-button({tag: "button", type: "submit", text:"Подобрать номер", modifiers: {primary: true, flexible: true, icon: "arrow"}})