
.search-block {

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

  padding: 40px 29px 30px 29px;
  max-width: 380px;

  &__heading-hidden {
    @include visually-hidden();
  }

  &__heading {
    @include site-h1();
    margin-bottom: 23px;
  }

  &__form {
    display: flex;
    flex-wrap: wrap;
  }

  &__shared-dropdowns-wrapper {
    display: flex;
    position: relative;
    z-index: 2;
  }

  &__date-dropdown-wrapper {
    max-width: 150px;
    &:first-child {
      margin-right: 20px
    }
  }

  &__guests-dropdown-wrapper {
    width: 100%;
    margin-top: 21px;
    margin-bottom: 30px;
  }
}

@media(max-width: 380px) {
  .search-block {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;

    &__shared-dropdowns-wrapper {
      width: 100%;
      justify-content: space-between;
    }
  }
}