include ../site-dropdown/site-dropdown
include ../site-button/site-button

mixin search-block()
  article.search-block
    h2.search-block__heading Найдём номера под ваши пожелания
    .search-block__body
      form.search-block__form
        .date-dropdown-wrapper
          +site-dropdown({
            label: "Прибытие",
            id: "departure",
            text: "ДД.ММ.ГГГГ",
            shared: {id: "ui-page-calendar"},
            modifiers: {calendar: {type: "range"}, buttons: true}
          })
        .date-dropdown-wrapper
          +site-dropdown({
            label: "Выезд",
            id: "arrival",
            text: "ДД.ММ.ГГГГ",
            shared: {for: "ui-page-calendar"},
            modifiers: {calendar: {type: "range"}, buttons: true}
          })
        .guests-dropdown-wrapper
          +site-dropdown({label: "Гости", id: "guest-dropdown", text: "Сколько гостей",
            options: [
              {name: "Взрослые", value: "adults", declination: ["гость", "гостя", "гостей"]},
              {name: "Дети", value: "children", declination: ["гость", "гостя", "гостей"]},
              {name: "Младенцы", value: "babies", declination: ["гость", "гостя", "гостей"]}
            ],
            modifiers: {buttons: true}})
        +site-button({type: "button", text:"Подобрать номер", modifiers: {primary: true, flexible: true, icon: "arrow"}})