//Todo: переименовать все scss в индексы

.site-dropdown__list {

  padding-right: 7px;
  padding-left: 15px;
  margin: 0;
  margin-bottom: 11px;

  letter-spacing: 0.05px;
}

.site-dropdown__item {

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 12px;
  color: $site-dark;
  text-transform: uppercase;
  list-style: none;
  width: 100%;
  margin-top: 6px;
}