
.site-checkbox {

  margin-top: 12px;

  &-group {
    margin: 0;
    padding-left: 0;
    list-style: none;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked {
      &+.site-checkbox__label::before {
        background: url("../../../components/site-checkbox/checkbox-checked.svg") no-repeat center;
        border: 1px solid $site-purple;
      }
    }
  }

  &__label{
    @include site-body($color: $site-dark-50, $lineH: 18px);

    position: relative;
    display: flex;
    padding-left: 30px;
    cursor: pointer;

    &::before{
      box-sizing: border-box;
      position: absolute;
      left: 0;
      content: " ";
      width: 20px;
      height:  20px;
      border: 1px solid $site-dark-25;
      border-radius: 4px;
    }
  }

  &_rich {
    & .site-checkbox__label {
      font-family: "Montserrat-Bold";
      color: $site-dark-75;
    }
  }

  &_toggle {

    margin-top: 10px;

    &:first-child {
      margin-top: 8px;
    }

    .site-checkbox__input {
      &:checked {
        &+.site-checkbox__label::before {
          background-image: none;
        }

        &+.site-checkbox__label::after {
          animation: toggle;
          animation-duration: 0.3s;
          left: 24px;
          background: $primary-gradient;
        }
      }
    }

    & .site-checkbox__label {
      padding-left: 50px;
      color: $site-dark-75;
      align-items: center;
      line-height: 24px;

      &::before {
        width: 40px;
        border-radius: 10px;
      }

      &::after {
        animation: toggle_back;
        animation-duration: 0.3s;

        position: absolute;
        left: 4px;
        top: 6px;
        content: " ";
        width: 12px;
        height: 12px;
        background: $site-dark-25;
        border-radius: 50%;
      }
    }
  }

  & .form-element__description {
    margin-top: 5px;
    padding-left: 30px;
  }
}

@keyframes toggle {
  from {left: 3px;}
  to {}
}

@keyframes toggle_back {
  from {left: 25px;}
  to {}
}