
mixin site-checkbox-group(obj)

  -const checkboxClassList = ["site-checkbox"]
  -if (obj.modifiers && obj.modifiers.toggle) checkboxClassList.push("site-checkbox_toggle")

  ul.site-checkbox__group
    each option in obj.options
      li.site-checkbox__item
        input(type = "checkbox" id = option.id class = checkboxClassList checked = option.checked)
        label(class = "site-checkbox__label" for = option.id) #{option.label}