
.site-checkbox {

  &:not(:first-child) {
    margin-top: 13px;
  }

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
    overflow-wrap: anywhere;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:focus-visible {
      & + .site-checkbox__label::before {
        outline: 1px solid $site-dark;
      }
    }

    &:checked {
      & + .site-checkbox__label::before {
        background: url('../../../components/site-checkbox/checkbox-checked.svg') no-repeat center;
        border: 1px solid $site-purple;
      }
    }
  }

  &__label {
    @include site-body($color: $site-dark-50, $lineH: 18px);

    position: relative;
    display: flex;
    padding-left: 30px;
    cursor: pointer;

    &::before {
      box-sizing: border-box;
      position: absolute;
      left: 0;
      content: ' ';
      width: 20px;
      height: 20px;
      border: 1px solid $site-dark-25;
      border-radius: 4px;
    }
  }

  &_rich {

    &:not(:first-child) {
      margin-top: 9px;
    }

    .site-checkbox__label {
      @extend %ff-bold;
      color: $site-dark-75;
    }
  }

  &_switchable {

    &:not(:first-child) {
      margin-top: 10px;
    }

    .site-checkbox__input {
      &:checked {
        & + .site-checkbox__label::before {
          background-image: none;
        }

        & + .site-checkbox__label::after {
          animation: switch;
          animation-duration: 0.3s;
          left: 24px;
          background: $primary-gradient;
        }
      }
    }

    .site-checkbox__label {
      padding-left: 50px;
      color: $site-dark-75;
      line-height: 24px;

      &::before {
        width: 40px;
        border-radius: 10px;
      }

      &::after {
        animation: switch_back;
        animation-duration: 0.3s;

        position: absolute;
        left: 4px;
        top: 4px;
        content: ' ';
        width: 12px;
        height: 12px;
        background: $site-dark-25;
        border-radius: 50%;
      }
    }
    .site-checkbox__label-text {
      transform: translateY(-3px);
    }
  }

  .form-element__description {
    margin: 0;
    margin-top: 7px;
    padding-left: 30px;
  }
}

@keyframes switch {
  from {
    left: 3px;
  }
  to {
  }
}

@keyframes switch_back {
  from {
    left: 25px;
  }
  to {
  }
}