
mixin site-checkbox-group(obj)

  -const checkboxClassList = ["site-checkbox"];
  -const legendClassList = ["form-element__legend"];
  -const groupClassList = ["site-checkbox-group"];

  -
    if (obj.modifiers) {
        if( obj.modifiers.toggle){
                checkboxClassList.push("site-checkbox_toggle")
        }
        if (obj.modifiers.expandable) {
            legendClassList.push("form-element__legend_expand");
            groupClassList.push("form-element_shrunk");
        }
        if (obj.modifiers.rich) {
          checkboxClassList.push("site-checkbox_rich");
        }
    }


  .form-element
    fieldset.form-element__fieldset
      legend(class = legendClassList) !{obj.label}
      ul(class = groupClassList)
        each option in obj.options
          li(class = checkboxClassList)
            input(type = "checkbox" id = option.id class = "site-checkbox__input" checked = option.checked)
            label(class = "site-checkbox__label"  for = option.id) !{option.label}
            if(obj.modifiers && obj.modifiers.rich)
              p.form-element__description !{option.note}