include ../site-fieldset/site-fieldset


mixin _checkbox-wraper(obj)
  if obj.fieldset
    +site-fieldset(obj.fieldset, obj.modifiers)
      block
  else
    block


mixin site-checkbox-group(obj)
  -
    const checkboxClassList = ["site-checkbox"];
    if (obj.modifiers) {
        if( obj.modifiers.toggle){
          checkboxClassList.push("site-checkbox_switchable")
        }
        if (obj.modifiers.rich) {
          checkboxClassList.push("site-checkbox_rich");
        }
    }

  +_checkbox-wraper(obj)
    ul.site-checkbox-list
      each option in obj.options
        li(class = checkboxClassList)
          input(type = "checkbox" id = option.id class = "site-checkbox__input" name = option.name, checked = option.checked)
          label(class = "site-checkbox__label"  for = option.id)
            span.site-checkbox__label-text !{option.label}
          if(obj.modifiers && obj.modifiers.rich)
            p.form-element__description !{option.note}