@import "../../../fonts/fonts";
@import "../../../variables/variables";
@import "../../../components/site-header/site-header";
@import "../../../components/site-footer/site-footer.scss";

//Временно для ПП
body {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
body::-webkit-scrollbar {
  width: 0 !important
}


.structural-blocks-page {
  background-color: #F4F4F6;

  .site-header {
    margin-bottom: 40px;
    &:first-child {
      z-index: 2;
    }
  }

  .site-footer{
    margin-bottom: 40px;

    &:nth-child(4) { // стили для max-width: 768px
      max-width: 768px;
      margin: 0 auto 140px;
      line-height: 17px;

      .site-footer {
        &__content {
          padding: 120px 9.72% 0;
        }

        &__info-block {
          max-width: 100%;
          margin: 0 auto;
        }

        &__info-text,
        &__links-section,
        &__subscription-block {
          display: none;
        }

        &__bottom {
          text-align: center;
          flex-wrap: wrap;
          justify-content: center;
          margin-top: 0;
          padding: 20px 9.72% 120px;
        }

        &__copyright {
          width: 100%;
          margin-bottom: 25px;
        }
      }
    }
  }
}


.structural-blocks-header {
  padding: 2.08%;
  margin: 0 auto 28px;
}
