mixin site-dropdown__item(option)
  li.site-dropdown__item(tabindex= "-1", data-value= option.value, data-declination= option.declination)
    .site-dropdown__item-text #{option.name}
    .site-dropdown__counter
      button.site-dropdown__button-remove(disabled) -
      span.site-dropdown__count 0
      button.site-dropdown__button-add +
