.site-dropdown__item {

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 12px;
  color: $site-dark;
  text-transform: uppercase;
  list-style: none;
  width: 100%;
  padding: 6px 7px 0 15px;

  &:last-child {
    margin-bottom: 7px;
  }
}