@import "site-dropdown__header/site-dropdown__header";
@import "site-dropdown__list/site-dropdown__list";
@import "site-dropdown__footer/site-dropdown__footer";
@import "../form-element/form-element";
@import "../site-calendar/site-calendar";
@import "../button/button";



.site-dropdown {

    width: 100%;
    position: relative;

  &__window {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1;
    background-color: white;
    border: 1px solid $site-dark-50;
    border-radius: 0 0 4px 4px;
    border-top: none;

    &_free {
      width: auto;
      margin-top: 6px;
      border: 1px solid $site-dark-25;
      border-radius: 4px;
      box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05);
    }
  }


  &__button-add,
  &__button-remove {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: white;
    color: $site-dark-50;
    border: 1px solid $site-dark-25;
    border-radius: 50%;

    &:disabled{
      cursor: default;
      opacity: 0.38;
    }
  }

  &__button-clear, {
    cursor: pointer;
    visibility: hidden;
  }

  &__button-apply {
    cursor: pointer;
    letter-spacing: -0.25px;
  }

  &__counter {
    display: flex;
    align-items: center;
  }

  &__count {
    width: 32px;
    text-align: center;
  }
}