@import 'site-dropdown__header/site-dropdown__header';
@import 'site-dropdown__list/site-dropdown__list';

.site-dropdown {

  width: 100%;
  position: relative;

  &.site-dropdown_counting-dropdown {
    .site-dropdown__window {
      outline: 1px solid $site-dark-50;
    }
  }

  &__text-area {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    &_hidden {
      @include visually-hidden();
      width: auto;
    }
  }


  &__window {
    display: none;
    width: 100%;
    position: absolute;
    z-index: 1;
    padding: 0 7px 0 13px;
    background-color: white;
    border: 1px solid $site-dark-25;
    border-radius: 0 0 4px 4px;
    border-top: none;
    box-sizing: border-box;
    box-shadow: 0px 10px 20px $site-dark-5;

    &_free {
      padding: 0;
      width: auto;
      margin-top: 6px;
      border-top: 1px solid $site-dark-25;
      border-radius: 4px;
    }
  }


  &__button-add,
  &__button-remove {
    cursor: pointer;
    width: 30px;
    height: 30px;
    background-color: white;
    color: $site-dark-50;
    border: 1px solid $site-dark-25;
    border-radius: 50%;

    &:focus-visible {
      outline: 1px solid $site-dark;
    }

    &:disabled {
      cursor: default;
      opacity: 0.38;
    }
  }

  &__counter {
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }

  &__count {
    width: 32px;
    text-align: center;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 14px 0 12px;
    line-height: 15px;
    background-color: white;

    .site-dropdown__window_free & {
      padding: 19px;
      padding-top: 0;
    }
  }

  &__button-clear, {
    visibility: hidden;
  }

  &__button-apply {
    letter-spacing: -0.25px;
  }

}
