include ../../components/like-button/like-button

mixin site-testimonial(data, userData = {})

  blockquote.site-testimonial
    header.site-testimonial__header
      .site-testimonial__image-container
        img.site-testimonial__author-image(src = data.img width = "44" height = "44"  alt = "Фотография автора отзыва")
      .site-testimonial__info
        cite.site-testimonial__author-name #{data.name}
        time(class = "site-testimonial__time" datetime = `${data.datetime}`) #{data.date}
    .site-testimonial__body
      .site-testimonial__button-wrapper
        +like-button(data.likes, userData.likes.includes(data.id))
      p.site-testimonial__text !{data.text}
