
mixin site-testimonial(obj)

  -
    const template = []
  blockquote.site-testimonial
    header.site-testimonial__header
      .site-testimonial__image-container
        img.site-testimonial__author-image(src = obj.img width = "44" height = "44"  alt = "Фотография автора отзыва")
      .site-testimonial__info
        cite.site-testimonial__author-name #{obj.name}
        time.site-testimonial__time(datetime = "P5D") #{obj.date}
    .site-testimonial__body
      .site-testimonial__button-wrapper
        include ../like-button/like-button
      p.site-testimonial__text !{obj.text}
