

mixin site-testimonial()
  blockquote.site-testimonial
    header.site-testimonial__header
      .site-testimonial__image-container
        img.site-testimonial__author-image(src = "../../../components/site-testimonial/avatar.png" width = "44" height = "44"  alt = "Фотография автора отзыва")
      .site-testimonial__info
        cite.site-testimonial__author-name Мурад Сарафанов
        time.site-testimonial__time(datetime = "P5D") 5 дней назад
    .site-testimonial__body
      .site-testimonial__button-wrapper
        include ../like-button/like-button
      p.site-testimonial__text
        | Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий.
        | И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не
        | жаловался из соседей.
