@import "../like-button/like-button";

.site-testimonial {

  margin: 0;

  @include site-body();

  &__header {
    display: flex;
  }

  &__image-container {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    margin-right: 10px;
    border: 2px solid white;
    border-radius: 50%;
    overflow: hidden;
  }

  &__author-name {
    font-family: "Montserrat-Bold";
    font-style: normal;
    display: block;
  }

  &__body {
    display: flex;
    align-items: baseline;
    margin-top: 10px;
  }

  &__button-wrapper {
    margin-right: 9px;
  }

  & .like-button {
    margin: auto 4px;
  }

  &__text {
    margin: 0;
  }
}