
.site-pagination {

  display: inline-block;

  &__pages {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: $ff-normal;
    font-size: 12px;
    line-height: 15px;
    color: $site-dark-50;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    &:hover{
      font-family: $ff-bold;
      color: white;
      background: $primary-gradient-25;
    }

    &.button_primary {
      font-family: $ff-bold;
      color: white;
      &:hover{
        background: $primary-gradient;
      }
    }

    &.button_secondary {
      font-size: 24px;
      font-family: "Material Icons";
      color: white;
      &:hover{
        background-image: $secondary-gradient;
      }
    }
  }

  &__summary {
    @include site-body();
    margin-top: 8px;
    margin-left: 5px;
  }
}