include ../site-button/site-button

mixin site-pagination()

  -const buttonsList = ["1", "2", "3", "...", "15"]

    ul.site-pagination
      li
        a.site-pagination__link.button_primary !{buttonsList[0]}
      -for(let i = 1; i < buttonsList.length; i++)
        li
          a.site-pagination__link !{buttonsList[i]}
      li
        a.site-pagination__link.button_secondary.material-icons arrow_forward
    .site-pagination__summary 1 – 12 из 100+ вариантов аренды