include ../site-button/site-button

mixin site-pagination(obj={})

  .site-pagination
    nav.site-pagination__navigation
      ul.site-pagination__pages-list
        li.site-pagination__item
          a(class = "site-pagination__entity site-pagination__entity_hidden site-pagination__entity_with-arrow" href = obj.url) arrow_back
        li.site-pagination__item
          a(class = "site-pagination__entity site-pagination__entity_active" href =  obj.url) 1
        li.site-pagination__item
          span(class = "site-pagination__entity site-pagination__entity_hidden site-pagination__entity_with-ellipsis") ...
        -for(let i = 2; i <= obj.count; i++)
          li.site-pagination__item
            a(class = "site-pagination__entity site-pagination__entity_with-link" href = obj.url) !{i}
        li.site-pagination__item
          span(class = "site-pagination__entity site-pagination__entity_with-ellipsis") ...
        li.site-pagination__item
          span(class = "site-pagination__entity site-pagination__entity_with-counter") 15
        li.site-pagination__item
          a(class = "site-pagination__entity site-pagination__entity_with-arrow" href = obj.url) arrow_forward
    .site-pagination__summary 1 – 12 из 100+ вариантов аренды