
.site-pagination {

  display: inline-block;

  &__navigation {
    display: flex;
  }

  &__pages-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__entity {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    font-family: $ff-normal;
    font-size: 12px;
    line-height: 15px;
    color: $site-dark-50;
    text-decoration: none;

    width: 40px;
    height: 40px;
    border-radius: 50%;

    &:focus {
      outline: 2px solid $site-dark-50;
    }

    &_link {
      &:hover {
        font-family: $ff-bold;
        color: white;
        background: $primary-gradient-25;
      }
    }

    &_arrow {
      font-family: 'Material Icons';
      background-image: $secondary-gradient;
      font-size: 24px;
      color: white;
    }

    &_hidden {
      display: none;
    }

    &_active {
      background-image: $primary-gradient;
      font-family: $ff-bold;
      color: white;
    }

  }

  &__summary {
    @include site-body();
    margin-top: 8px;
    margin-left: 5px;
  }
}