
//- TODO: Поправить if
  //TODO: Дропдаун-меню
mixin menu-items(items, itemClass, linkClass)

  each item in items

    -const linkClassList = [linkClass];
    -if (item.expand) linkClassList.push("site-navigation__link_expanded")
    -if (item.active) linkClassList.push("site-navigation__link_active")

    li(class = itemClass)
      a(class = linkClassList  href = "index.html") !{item.text}



