@import "../../../fonts/fonts";
@import "../../../variables/variables";
@import "../../../components/search-block/search-block";
@import "../../../components/registration-block/registration-block";
@import "../../../components/booking-block/booking-block";



* {
  box-sizing: border-box;
}

.cards-page {
  background-color: #F4F4F6;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 30px;
}

.content {
  display: flex;
  padding-top: 38px;
  margin: 0 auto;
  width: 1160px;

  &__column {
    .search-block {
      margin-bottom: 39px;
    }
    &:first-child {
      margin-right: 40px;
    }
    &:nth-child(2) {
      margin-top: 2px;
    }
  }
}



