include ../../../components/search-block/search-block
include ../../../components/registration-block/registration-block
include ../../../components/booking-block/booking-block
include ../../../components/log-in-block/log-in-block
include ../../../components/site-calendar/site-calendar
include ../../../components/site-dropdown/site-dropdown__footer/site-dropdown__footer
include ../../../components/room-card/room-card


-
  const imgPath = "/pages/UIKit/cards/img/";
  const room888 = {
    imgList: [imgPath + "room888-1_s.png", imgPath + "room888-2_s.png", imgPath + "room888-3_s.png", imgPath + "test.png"],
    number: "888",
    price: 9990,
    charge: -2179,
    extraCharge: 300,
    currency: "₽",
    stars: 5,
    luxe: true,
    testimonialsList: {
      count: 145
    },
  };
  const room840 = {
    imgList: [imgPath + "room840.png", imgPath + "test.png", imgPath + "test.png", imgPath + "test.png"],
    number: "840",
    price: 9900,
    currency: "₽",
    luxe: false,
    stars: 4,
    testimonialsList: {
      count: 65
    }
  }

doctype html
html(lang = "en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="initial-scale=1.0, width=device-width")
    meta(name="keywords", content = "")
    meta(name="description", content=" ")
    link(rel = "stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons")
  body.cards-page
    .wrapper
      .header
        a(href = "../index/index.html")
          img.logo(src = "../img/min-logo.svg")
      .content
        .content__column
          +search-block()
          +registration-block({modifiers: {paymentLink: true}})
        .content__column
          +booking-block(room888)
          +log-in-block()
        .content__column
          .calendar-wrapper
            +site-calendar("site-calendar site-calendar_range")
            +site-dropdown__footer()
          +room-card("room888", room888)
          +room-card("room840", room840)
