@import '../../../fonts/fonts';
@import '../../../variables/variables';
@import '../../../components/site-dropdown/site-dropdown';
@import '../../../components/site-button/site-button';
@import '../../../components/form-element/form-element';
@import '../../../components/site-input/site-input';
@import '../../../components/site-radio/site-radio';
@import '../../../components/site-checkbox/site-checkbox';
@import '../../../components/site-fieldset/site-fieldset';
@import '../../../components/site-slider/site-slider';
@import '../../../components/star-rate/star-rate';
@import '../../../components/search-block/search-block';
@import '../../../components/registration-block/registration-block';
@import '../../../components/booking-block/booking-block';
@import '../../../components/log-in-block/log-in-block';
@import '../../../components/site-calendar/site-calendar';
@import '../../../components/room-card/room-card';


html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit
}

.cards-page {
  background-color: #F4F4F6;
}

.wrapper {
  width: 1440px;
  margin: 0 auto;
}

.header {
  padding: 30px;
}

.content {
  display: flex;
  padding-top: 38px;
  margin: 0 auto;
  width: 1160px;

  &__column {

   &:not(:last-child) {
    margin-right: 40px;
   }

    &:nth-child(2) {
      margin-top: 2px;
    }

    &:nth-child(3) {
      .site-dropdown__header {
        display: none;
      }

      .site-dropdown__window_free {
        display: block;
        position: static;
        margin: 0;
        margin-bottom: 41px;
      }
    }

    .search-block {
      margin-bottom: 37px;
    }

    .booking-block {
      margin-bottom: 39px;
    }

    .room-card {
      margin-bottom: 39px;
    }
  }
}



