include ../rate-button/rate-button
include ../../helpers/declinejs

//TODO: рейтинг из-вне

mixin room-card(id, room)

  -
    const cardClassList = ["room-card"];
    const card = room ? room :  {
      imgList: ["../../../components/room-card/img/no-image.jpg"],
      number: "888",
      price: "9 990₽",
      testimonials: "145",
      luxe: true
    };
    if(card.luxe) cardClassList.push("room-card_luxe");

  article(class = cardClassList id = id)
    h2.room-card__heading Комната №  #{card.number}
    .room-card__image-container
      ul.room-card__image-list
        each img in card.imgList
          li.room-card__image-item
            img(class = "room-card__image" src = img alt = "Фотография номера")
      button(class = "room-card__arrow room-card__arrow_left material-icons") chevron_left
      button(class = "room-card__arrow room-card__arrow_right material-icons" ) chevron_right
      .room-card__bullets-block
        each img, i in card.imgList
          if i === 0
            .room-card__bullet.room-card__bullet_active
          else
            .room-card__bullet
    .room-card__body
      .room-card__info
        p.room-card__room-number №
          span.room-card__room-number-value #{card.number}
        p.room-card__price
          span.room-card__price-value #{card.price}
          |  в сутки
      .room-card__rating
        form.room-card__rate-form
          +rate-button({name: id + "_room-rate", id: id + "_room-rate"})
        p.room-card__testimonial-counter
          span.room-card__testimonial-count #{decline(card.testimonials, ["отзыв", "отзыва", "отзывов"])}