
.room-card {

  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 270px;
  background-color: white;
  box-shadow: 0px 10px 20px $site-dark-5;

  &:focus-within {
    .site-slider__button {
      opacity: 1;
    }
  }


  &__heading {
    order: 1;
    @include visually-hidden();
  }

  .slider-container {
    order: 2;
    border-radius: 4px 4px 0 0;
    overflow: hidden;
    height: 151px;
    display: inline-block;
  }

  &__full-page-link {
    width: 100%;
    display: inline-block;
    text-decoration: none;
    outline: none;
    order: 3;

    &:focus-visible {
     & ~ .room-card__outline-wrapper {
        outline: 2px solid $site-dark-50;
      }
    }
  }


  &__body {
    padding: 21px 17px 0 20px;
    border-radius: 0 0 4px 4px;
  }

  &__info {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid $site-dark-10;
  }

  &__rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 7px;
    padding-bottom: 14px;
  }

  &__room-number {
    @include site-h2();
    letter-spacing: 0;
    &:first-letter {
      font-size: 14px;
      line-height: 17px;
      margin-right: 4px;
    }
  }

  &__price,
  &__testimonial-counter {
    margin: 0;
    font-family: $ff-normal;
    line-height: 18px;
    color: $site-dark-50;
  }

  &__price {
    font-size: 12px;
  }

  &__testimonial-counter {
    font-size: 14px;
  }

  &__price-value,
  &__testimonial-count {
    font-family: $ff-bold;
    font-size: 14px;
  }

  &__outline-wrapper {
    position: absolute;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    outline-offset: 1px;
  }

  &_luxe {
    .room-card__room-number::after {
      position: relative;
      top: 1px;
      content: "Люкс";
      font-size: 12px;
      line-height: 14px;
      text-transform: uppercase;
      color: $site-purple;
      margin-left: 8px;
    }
  }
}
