.form-element__dropdown-item {

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 12px;
  color: $site-dark;
  text-transform: uppercase;
  list-style: none;
  width: 100%;
  padding: 6px 7px 0 15px;

  &:last-child {
    margin-bottom: 7px;
  }
}

.dropdown-button {
  width: 30px;
  height: 30px;
  background-color: white;
  color: $site-dark-50;
  border: 1px solid $site-dark-25;
  border-radius: 50%;
}

.dropdown-counter {
  display: flex;
  align-items: center;
}
.dropdown-count {
  margin: 0 10px;
}