include form-element__dropdown-item

mixin form-element__dropdown(obj)
  if obj.options
    .form-element__dropdown
      button.form-element__dropdown-header #{obj.text}
        span.material-icons expand_more
      ul.form-element__dropdown-list
        each option in obj.options
          +form-element__dropdown-item(option)
