include ../../mixins/menu-items
include ../../components/button/button

-const mainNavItems = [{text: "О нас", active: " true"}, {text: "Услуги", expand: true}, {text: "Вакансии"}, {text: "Новости"}, {text: "Соглашения", expand: true}]

header.main-header
  include ../logo/logo
  .main-header__navigation-container
    nav.site-navigation
      ul.site-navigation__list
        +menu-items(mainNavItems)(item_class = "site-navigation__item" link_class = "site-navigation__link")
    ul.user-navigation
      li.user-navigation__item
        +button({type: "a", modifiers: {rounded: true}, text: "Войти"})
      li.user-navigation__item
        +button({type: "a", modifiers: {primary: true, rounded: true}, text: "Зарегистрироваться"})

