
.registration-block {

  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

  padding: 40px 29px 30px 29px;
  width: 380px;
  max-width: 380px;

  &__heading {
    @include site-h1();
    margin-bottom:20px ;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
  }

  &__already-have{
    font-family: $ff-normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    margin-right: 35px;
  }

  .site-fieldset {

    &:first-child {
      margin-bottom: 20px;

      .site-radio-list {
        margin-bottom: 21px;
      }
    }

    &:nth-child(2) {
      margin-bottom: 8px;
    }

    &__legend {
      margin-bottom: 5px;
    }
    .form-element:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  .site-checkbox-list {
    margin-bottom: 22px;
  }
}

@media (max-width: 380px) {
  .registration-block {
    &__heading {
      text-align: center;
    }
  }
}